<title>CS360 Lecture notes -- Thread #4 - Sockets and Threads</title>
<body bgcolor=ffffff>
<h1>CS360 Lecture notes -- Thread #4 - Sockets and Threads</h1>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI>Directory: <b>/home/plank/cs360/notes/Thread-4-Sockets</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Thread-4-Sockets/lecture.html>
    <b>
  http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Thread-4-Sockets/lecture.html
</b></a>
<hr>
<i>Last revised: 
Mon Apr  5 11:18:27 EDT 2021
</i>
<hr>

<h3>Threaded Telnet, and Minitalk Done Right</h3>

Threads provide the perfect framework for writing programs that deal with asynchrony.
In particular, in our lecture notes on sockets, we had some problems writing programs that
needed to do the following operations simultaneously:

<UL>
<LI> Read standard input so that it could be written to a socket.
<LI> Read from the socket so that it could be written to standard output.
</UL>

We solved that problem by forking off processes.  With threads, you can do these simultaneous
operations in one process.  That is often essential because you want your various 
operations to share information.
<p>
In this section, we'll first write a threaded <b>telnet</b> client.
This is a client that will request a connection to a socket, and then
do what we specify above -- anything typed into standard input will
go to the socket, and anything that comes from the socket will go to
standard output.
<p>
The program is in 
<b><a href=src/th_telnet.c>src/th_telnet.c</a></b>, and you should study it.  The
comments specify exactly what it is doing:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;pthread.h&gt;
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;
#include "sockettome.h"

<font color=blue>/* As input, this procedure takes an array of two FILE *'s, typecast to
   a void *.  Let's call this array "connection."  This procedure will read
   lines of text from from connection[0] and write them to connection[1].
   This is convenient, because it works regardless of whether the FILE *'s 
   are socket connections or stdin/stdout. */</font>

void *process_connection(void *c)
{
  FILE **connection;
  char buf[1000];

  connection = (FILE **) c;
  while (fgets(buf, 1000, connection[0]) != NULL) {
    printf("Read: %s", buf);
    fflush(stdout);
    fputs(buf, connection[1]);
    fflush(connection[1]);
  }
  exit(0);
}

int main(int argc, char **argv)
{
  int fd;
  FILE *fin, *fout;
  FILE *stdin_to_socket[2];
  FILE *socket_to_stdout[2];
  pthread_t tid;

  if (argc != 3 || atoi(argv[2]) &lt;= 0) {
    fprintf(stderr, "usage: th_telnet host port\n");
    exit(1);
  }

  <font color=blue>/* Open a socket connection to a server, and convert the file 
     descriptor to two FILE *'s, one for reading and one for 
     writing. */</font>

  fd = request_connection(argv[1], atoi(argv[2]));
  fin = fdopen(fd, "r");
  fout = fdopen(fd, "w");
  
  <font color=blue>/* Create arrays of FILE *'s for process_connection. */</font>

  stdin_to_socket[0] = stdin;
  stdin_to_socket[1] = fout;

  socket_to_stdout[0] = fin;
  socket_to_stdout[1] = stdout;

  <font color=blue>/* Fork off a thread to read from the socket and print to standard output.
     The main thread will read from standard input and print to the socket. */</font>

  if (pthread_create(&tid, NULL, process_connection, socket_to_stdout) != 0) {
    perror("pthread_create");
    exit(1);
  }

  (void) process_connection(stdin_to_socket);
  return 0;
}
</pre></td></table></center><p>

Let's try it, using <b>alternate</b> from the Socket lecture notes as the server:

<p><center><table border=3><td valign=top>
<pre>
UNIX> <font color=darkred><b>bin/th_telnet localhost 5555</b></font>
<font color=darkred><b>Hey</b></font>
Read: Hey


Read: Hey is for horses.
Hey is for horses.
<font color=darkred><b>I hate it when people say that.  </b></font>
Read: I hate it when people say that.  

<font color=darkred><b>So stop saying that.</b></font>
Read: So stop saying that.

Read: It is only proper.
It is only proper.
<font color=darkred><b>< CNTL-D ></b></font>
UNIX> <font color=darkred><b></b></font>
</pre>
</td><td valign=top>
<pre>
UNIX> <font color=darkred><b>../Sockets/bin/alternate localhost 5555 s</b></font>
Connection established.  Client should start talking

Hey
<font color=darkred><b>Hey is for horses.</b></font>




I hate it when people say that.  


<font color=darkred><b>It is only proper.</b></font>
So stop saying that.


UNIX> <font color=darkred><b></b></font>
</pre>
</td></table></center><p>

You'll note, when the left person wrote "So stop saying that," it was read and sent along
the socket instantly.  However, because <b>alternate</b> alternates strictly, it was not 
read from the socket until after the second person wrote "It is only proper."  
<p>
The program 
<b><a href=src/real_minitalk.c>src/real_minitalk.c</a></b>
has both the client and server code for a two-person talk program.  It is very much 
like <b>th_telnet</b>, except it has code for setting up the server, and it doesn't 
print the "Read" like like <b>th_telnet</b>.  What you should notice is that 
it's ok for one of the two programs to type lots of input, and it works fine.  That's
because each program has two threads -- one to handle standard input, and one to handle
the thread.

<p><center><table border=3><td valign=top>
<pre>
UNIX> <font color=darkred><b>bin/real_minitalk localhost 5555 c</b></font>
<font color=darkred><b>Hi</b></font>

<font color=darkred><b>I said Hi</b></font>

<font color=darkred><b>Why aren't you talking to me?</b></font>

<font color=darkred><b>Is it because I am overbearing?</b></font>


No.  Bye
UNIX> <font color=darkred><b></b></font>
</pre>
</td><td valign=top>
<pre>
UNIX> <font color=darkred><b>bin/real_minitalk localhost 5555 s</b></font>

Hi

I said Hi

Why aren't you talking to me?

Is it because I am overbearing?
<font color=darkred><b>No.  Bye</b></font>

UNIX> <font color=darkred><b></b></font>
</pre>
</td><table></center><p>
