<h3>Answers to the clicker questions</h3>

<b>Question 1</b>:
<p>
The time is converted from seconds to number-of-15-minute-intervals.  Put another way, the first
four bits contain the hours, and the last two bits contain the 15-minute interval within the
hour.  The hours will always be a number between 1 and 12.  The last two bits, of course, are
numbers between 0 and 3.  
<p>
So, the clock is reading 001101.  The "hours" bits are 0011, or 3, and the "15-minute interval"
bits are 01, which is 1.  So the time is sometime between 3:15 and 3:29, AM or PM.  The answer
is B -- 03:24.
<p>
<hr>
<b>Question 2</b>: 0x44.
<p>
<hr>
<b>Question 3</b>: 
This is easier to explain if we assign an address to <b>&amp;i</b>.  Let's say it is <tt>0xfe77000</tt>.
If we look at the four bytes of <b>i</b> after the <b>memcpy()</b>, the look as follows:
<p>
<center>
<table border=3>
<td align=center><tt><u>0xfe77000</u><br>0x63</tt></td>
<td align=center><tt><u>0xfe77001</u><br>0x61</tt></td>
<td align=center><tt><u>0xfe77002</u><br>0x64</tt></td>
<td align=center><tt><u>0xfe77003</u><br>0x65</tt></td>
</table></center><p>

When we print that as an integer, it comes out in little endian.  The answer is <tt>0x65646163</tt>.

<hr>
<b>Question 4</b>: 

The <b>strcat()</b> call finds the end of the string, which is after the 'm' character, and
appends "ab" to it.  The answer is "mab".

<hr>
<b>Question 5</b>:  Summary of the answers:
<p>

<UL>
<LI> "Beans": I'm assuming this one -- tiny with Bluetooth for $35.00: <a href=https://www.adafruit.com/product/2732>https://www.adafruit.com/product/2732</a>.
<LI> "Billy": Not sure -- maybe referring to this project of animating a "Billy Bass" with 
an arduino: <a href=https://create.arduino.cc/projecthub/donald/animate-a-billy-bass-mouth-with-any-audio-source-c2b029>https://create.arduino.cc/projecthub/donald/animate-a-billy-bass-mouth-with-any-audio-source-c2b029</a>
<LI> One vote for the Eleego UNO R3
<LI> Espressif ESP32 - Arduino board with WiFi for $15.00. <a href=https://www.adafruit.com/product/3269?gclid=Cj0KCQiAvbiBBhD-ARIsAGM48bxi7HdbRZznlFNRP29euQgeFc5KTxDdLyM3kvShNxCzq68OdIaBd7waAt7CEALw_wcB>https://www.adafruit.com/product/3269?gclid=Cj0KCQiAvbiBBhD-ARIsAGM48bxi7HdbRZznlFNRP29euQgeFc5KTxDdLyM3kvShNxCzq68OdIaBd7waAt7CEALw_wcB</a>
<LI> 26 answers of "Fred", "IDK" or something similar.
<LI> Two votes for an Arduino Nano: <a href=https://store.arduino.cc/usa/arduino-nano>https://store.arduino.cc/usa/arduino-nano</a>.  That's a tiny board, certainly compared to my behemoth. 
Adafruit sells a pretty tiny board to for $5 each.  <a href=https://www.mouser.com/ProductDetail/Adafruit/3657>https://www.mouser.com/ProductDetail/Adafruit/3657</a>.
<LI> Arduino Mega: $40, but you get 14 PWM outputs rather than just 6. <a href=https://store.arduino.cc/usa/mega-2560-r3>https://store.arduino.cc/usa/mega-2560-r3</a>.
<LI> Pi4 - Kinda cheating, although I get it.  I love Pi's.  I couldn't find a nice case for my Pi4.  Any clues?
<LI> Raspberry Pi Mini -- ditto.
<LI> The blue one -- guessing that's a second vote for the "Beans"
</UL>

