<h3>Clicker Questions</h3>

<b>Question 1</b>: Here is a picture of "Dr. Plank's Binary Sleeping Clock" that sits on 
his bedside table:  

<p><center><table border=3><td><a href=img/BSC.jpg><img width=400 src=img/BSC.jpg></a></td></table></center><p>

The way it works is as follows:  Consider the current time in number of seconds since midnight.
This is a number between 0 and 24*3600.  Now:

<UL>
<LI> If this number is >= 13*3600, subtract 12*3600.
<LI> If this number is < 3600, add 12*3600.
<LI> Divide by 900 using integer division.  Note, 900 = 60x15.
<LI> Display the number in binary, LSB on the right.
</UL>

Of the choices below, what time could it be using a 24-hour HH:MM format? 
(If you can't tell, the yellow, white
and right-blue lights are on -- those are the 3rd, 4th and 6th from the left).

<pre>
A. 00:15     C. 03:55     E. 07:56     G. 12:12     I. 15:34
B. 03:24     D. 07:42     F. 11:05     H. 15:04     J. 23:16
</pre>

<hr>
<b>Question 2</b>: What is <tt>(0x73 ^ 0x37)</tt> in hex?

<hr>
<b>Question 3</b>: My machine is little endian, and we know that 'c' is <tt>0x63</tt> in ASCII.
Our machines are little-endian.  What is the output of this program?

<p><center><table border=3 cellpadding=3><td><pre>
int main()
{
  int i;

  memcpy(&i, "cade", 4);        <font color=blue>/* memcpy is memcpy(void *dest, void *src, int bytes); */</font>
  printf("0x%x\n", i);
  return 0;
}
</pre></td></table></center><p>

<hr>
<b>Question 4</b>: What is the output of this program?

<p><center><table border=3 cellpadding=3><td><pre>
int main()
{
  char s[60];

  s[0] = 'm';
  s[1] = '\0';
  s[2] = 'x';
  s[3] = 'y';
  s[4] = 'z';

  strcat(s, "ab");
  printf("%s\n", s);
  return 0;
}
</pre></td></table></center><p>

<hr>
<b>Question 5</b>: The Arduino board above is an "Eleego UNO R3" board.  What is your
favorite Arduino board?  (There's no "right" answer here -- I'm just curious.  If you
don't know, just answer "IDK" or "Fred").


