<pre>
Suppose there were no stat().  How would you check the size of a file?  Write it.
<p>
Try it on txt/myfile.txt
<p>
Now man stat -- go over fields.
<p>
Use this to write ls2.c
<p>
Show mtime & program to write it out.
<p>
Quit for now, and go back to the shell lecture (if that's what you're doing).
.
Now -- tweak ls to use opendir / readdir

Format the output with %* in printf.  Gotta use a linked list to store the filenames.
      - Why do you have to use strdup()?  Talk about it.

Sort it -- duh.

Can also maintain the # chars in the size.  Kinda dull.

- Go over ls6.c and the macros therein.
