<title>CS360 Lecture notes -- Dup</title>
<h1>CS360 Lecture notes -- Dup</h1>
<UL>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI>Directory: <b>/home/jplank/cs360/notes/Dup</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Dup/lecture.html>
    http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Dup/lecture.html</a>
<LI> Original Notes: Sometime in the 1990's.
<LI> Last Modification:
Mon Mar 22 17:58:12 EDT 2021
</UL>
</b></a>

<hr>
<h1>Open files</h1>

<p>The operating system (OS) has four kinds of data structures for files:

<UL>
<LI> <b><font color=darkblue>File table.</b></font> There is one of these for each process that is running.  File
     descriptors are indices into these tables.  For example, if I am process 1234,
     and I say <b>printf("Hi\n"); fflush(stdout);</b>, then the standard I/O library
     will make a call to "<b>write(1, ...)</b>."  To service this write, the operating
     system will look at entry 1 in the file table for process 1234.
<p>
<LI> <b><font color=darkblue>File table entry</b></font> -- this is what the file tables point to.  In other words, when 
     I call <b>write(1, ...)</b>, the operating system will look at entry 1 in my process' 
     file table, and the information at which it's looking is held in a "file table entry."
       This contains information like whether it allows reads or writes, plus 
       the current lseek pointer,
       and a pointer to a "vnode" (see below).  
<p>
       When you start your program,
       the OS has three file table entries defined for you -- one each 
       for stdin, stdout,
       stderr, which are pointed to by entries 0, 1 and 2 in the file table.  
       Each time you call <b>open()</b>, a new file table entry is 
       created for you in the OS, and an entry in the file table is set to this entry.
       The index of the entry is returned as a file descriptor.

<LI> <b><font color=darkblue>vnode</b></font> -- There is one of these for each physical file that has been 
       opened (plus there are vnodes for devices like the screen and the keyboard).
       It contains a information like the file's size and how many file table entries
       point to it.  For files, it contains the "inode" of the file -- see below for that.

<p>
<LI> <b><font color=darkblue>inode</b></font> -- There is one of these for each file on disk.
       It contains all the information returned by <b>stat()</b>, plus information on where
       to find the file on disk.
</UL>

The difference between a vnode and an inode is where each is located and
when each is valid.  Inodes are located on disk and are always valid because
they contain information that is always needed, such as ownership and
protection.  Vnodes are located in the operating system's memory, and 
only exist when a file is opened.  However, just one vnode exists for
every physical file that is opened.

<p>So, look at the following program (I don't have this program in a file -- it is the
beginning of 
<b><a href=fs1.c>fs1.c</a></b>).

<p><center><table border=3 cellpadding=3><td><pre>
int main()
{
  int fd1, fd2;

  fd1 = open("file1.txt", O_WRONLY | O_CREAT | O_TRUNC, 0644);
  fd2 = open("file1.txt", O_WRONLY);
}
</pre></td></table></center><p>

What has happened?  The OS has created two
file table entries, one for each <b>open()</b> call, but
only one vnode.  This is because there is only
one file.  Both file table entries point to the
same vnode, but they each have different seek
pointers.  The state of the system is as pictured:

<p><center><table border=0><td><img src=img/Two-Opens.jpg width=500></td></table></center><p>

Now, suppose we write to these file descriptors:
(This is file <b><a href=src/fs1.c>src/fs1.c</a></b>)

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This shows what happens when you open the same file twice for writing. */</font>

#include &lt;fcntl.h&gt;
#include &lt;stdio.h&gt;
#include &lt;unistd.h&gt;
#include &lt;string.h&gt;

int main()
{
  int fd1, fd2;

  fd1 = open("file1.txt", O_WRONLY | O_CREAT | O_TRUNC, 0644);
  fd2 = open("file1.txt", O_WRONLY);

  write(fd1, "Jim\n", strlen("Jim\n"));
  write(fd2, "Plank\n", strlen("Plank\n"));

  close(fd1);
  close(fd2);
  return 0;
}
</pre></td></table></center><p>

Then what will happen?  Well, the first <b>write()</b>
call will write the string <b>"Jim\n"</b> into <b>file1.txt</b>.
Then the second <b>write()</b> call will overwrite it
with <b>"Plank\n"</b>.  This is because each fd points
to its own file table entry, which has its own
lseek pointer, and thus the first <b>write()</b> does not
update the lseek pointer of <b>fd2</b>: 

<p><center><table border=0><td><img src=img/Two-Opens-2.jpg width=500></td></table></center><p>

<p>To make this more clear, 
<a href=src/fs1a.c><b>src/fs1a.c</a></b>
prints out the
values of each fd's seek pointer at each step of
the program.  As you can see, even though the two
fd's are for the same file, since they each have
their own file table entry, they each have their
own seek pointer:

<pre>
UNIX> <font color=darkred><b>bin/fs1</b></font>
UNIX> <font color=darkred><b>cat file1.txt</b></font>
Plank
UNIX> <font color=darkred><b>bin/fs1a</b></font>
Before writing Jim:   lseek(fd1, 0, 1): 0.  lseek(fd2, 0, 1): 0       <font color=blue> # The file has no bytes.</font>
Before writing Plank: lseek(fd1, 0, 1): 4.  lseek(fd2, 0, 1): 0       <font color=blue> # The first write puts "Jim\n" into the file.</font>
After writing Plank:  lseek(fd1, 0, 1): 4.  lseek(fd2, 0, 1): 6       <font color=blue> # The second write overwrites it with "Plank\n".</font>
UNIX> <font color=darkred><b>cat file1.txt</b></font>
Plank
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h1>Dup()</h1>

The system call <b>dup(int fd)</b> duplicates a
file descriptor <b>fd</b>.  What this does is return a
second file descriptor that points to the same
file table entry as <b>fd</b> does.  So now you can
treat the two file descriptors as identical. 

<p>Look at an alteration of <b>src/fs1.c</b> (in 
<a href=src/fs2.c><b>src/fs2.c</a></b>).
Instead of calling <b>open()</b> to initialize <b>fd2</b>, it
calls <b>dup(fd1)</b>.  Thus, after the first write, the
lseek pointer of <b>fd2</b> has been updated to reflect
the write to <b>fd1</b> -- this is because the two file
descriptors point to the same file table entry. 

<p>Thus, after running <b>bin/fs2</b>, the file "<b>file2.txt</b>"
should say <b>"Jim\nPlank\n"</b>.  Like <b>src/fs1a.c</b>, 
<a href=src/fs2a.c><b>src/fs2a.c</a></b>
prints out the lseek pointers of <b>fd1</b> and <b>fd2</b> at
each step.  As you can see, the <b>write()</b> to <b>fd1</b>
updates the lseek pointer for <b>fd2</b>: 

<pre>
UNIX> <font color=darkred><b>bin/fs2</b></font>
UNIX> <font color=darkred><b>cat file2.txt</b></font>
Jim
Plank
UNIX> <font color=darkred><b>bin/fs2a</b></font>
Before writing Jim:   lseek(fd1, 0, 1): 0.  lseek(fd2, 0, 1): 0          <font color=blue> # At the beginning, the file is empty.</font>
Before writing Plank: lseek(fd1, 0, 1): 4.  lseek(fd2, 0, 1): 4          <font color=blue> # Now it contains "Jim\n", but since fd2 points to the same FTE, its seek pointer changes too.</font>
After writing Plank:  lseek(fd1, 0, 1): 10.  lseek(fd2, 0, 1): 10        <font color=blue> # This appends "Plank\n" after "Jim\n"</font>
UNIX> <font color=darkred><b>cat file2.txt </b></font>
Jim
Plank
UNIX> <font color=darkred><b></b></font>
</pre>

<p><center><table border=0><td><img src=img/Dupd.jpg width=500></td></table></center><p>

<p> When <b>fork()</b> is called, <b>all file descriptors
are duplicated, as if dup() were called.</b>
Thus, look at the following program
(<a href=src/fs3.c><b>src/fs3.c</a></b>):

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* A simple program that shows how a file descriptor is "duped" during a fork() call. */</font>

#include &lt;fcntl.h&gt;
#include &lt;stdio.h&gt;
#include &lt;unistd.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  char s[1000];
  int i, fd;

  fd = open("file3.txt", O_WRONLY | O_CREAT | O_TRUNC, 0644);

  i = fork();
  sprintf(s, "fork() = %d.\n", i);
  write(fd, s, strlen(s));
  close(fd);
  return 0;
}

</pre></td></table></center><p>
What should happen?  Well, whichever process gets
control of the CPU first after the <b>fork()</b> will
write <b>s</b> to <b>file3.txt</b>.  Then the other process will
append its string <b>s</b> to <b>file3.txt</b>.  For example: 

<pre>
UNIX> <font color=darkred><b>bin/fs3</b></font>
UNIX> <font color=darkred><b>cat file3.txt</b></font>
fork() = 0.
fork() = 22107.
UNIX> <font color=darkred><b>bin/fs3</b></font>
UNIX> <font color=darkred><b>cat file3.txt</b></font>
fork() = 0.
fork() = 22110.
UNIX> <font color=darkred><b>bin/fs3</b></font>
UNIX> <font color=darkred><b>cat file3.txt</b></font>
fork() = 22113.
fork() = 0.
UNIX> <font color=darkred><b></b></font>
</pre>

This is because the file descriptor <b>fd</b> is duplicated across 
<b>fork()</b>
calls.  Were it not duplicated, but instead re-opened, then one <b>write()</b>
would overwrite the other.  Here's a picture after the two processes have written in the
first call to <b>bin/fs3</b> above:

<p><center><table border=0><td><img src=img/Afterfork.jpg width=400></td></table></center><p>

<p>Perhaps you're thinking, ``He opened a file and then called <b>fork()</b>.
Does he have to worry about that buffer copying problem that was in the <a href=.bin/Fork/lecture.html>Fork
Lecture notes?</a>''
The answer is no, because I'm using <b>write()</b>, which is a system call,
and there is no buffering.  You have to worry about the buffering problem
when the standard I/O library is being used, and the buffer is not empty
when <b>fork()</b> is called.  For example, look at 
<a href=src/fs3a.c><b>src/fs3a.c</a></b> and
<a href=src/fs3b.c><b>src/fs3b.c</a></b>.
They use <b>fprintf()</b> instead of <b>write()</b>.  With 
<a href=src/fs3a.c><b>src/fs3a.c</a></b>, the <b>fork()</b> call is made before any
<b>fprintf()</b> statement, so there is no problem with buffering (because the
buffer is empty when <b>fork()</b> is called). With
<a href=src/fs3b.c><b>src/fs3b.c</a></b>, I make a <b>fprintf()</b> call before the
<b>fork()</b> call, so the buffer is copied by the <b>fork()</b> call, and
you get two lines that say "The is file3.txt.":

<pre>
UNIX> <font color=darkred><b>bin/fs3a</b></font>
UNIX> <font color=darkred><b>cat file3.txt</b></font>
fork() = 0.
fork() = 3716.
UNIX> <font color=darkred><b>bin/fs3b</b></font>
UNIX> <font color=darkred><b>cat file3.txt</b></font>
This is file3.txt
fork() = 3719.
This is file3.txt
fork() = 0.
UNIX>
</pre>

<hr>
<h1>Dup2()</h1>

<b>Dup2()</b> is a system call that dups an open file descriptor so
that the result is a desired file descriptor.  

<pre>
int dup2(int fd1, int fd2)

     With dup2(), fd2 specifies the  desired  value  of  the  new
     descriptor.   If  descriptor  fd2  is  already in use, it is
     first deallocated as if it were closed by close(2V).
</pre>

<b>Dup2()</b> is most often used so that you can redirect standard 
input or output.  When you call <b>dup2(fd, 0)</b> and the <b>dup2()</b>
call is successful, then whenever your program reads from standard 
input, it will read from <b>fd</b>.  Similarly, when you call 
<b>dup2(fd, 1)</b> and the <b>dup2()</b>
call is successful, then whenever your program writes to standard output, 
it will write to <b>fd</b>.

<p>For example, look at 
<a href=src/dup2ex.c><b>src/dup2ex.c</a></b>.
This opens the file <b>file4</b> for writing, and then uses <b>dup2</b>
to redirect standard output to that file.  It then writes to standard output in
a variety of ways:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Showing how dup2(fd, 1) redirects standard output to the file in fd. */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;fcntl.h&gt;
#include &lt;string.h&gt;

int main()
{
  int fd;
  char *s;

  fd = open("file4", O_WRONLY | O_CREAT | O_TRUNC, 0666);

  if (dup2(fd, 1) &lt; 0) { perror("dup2"); exit(1); }

  printf("Standard output now goes to file4\n");

  close(fd);

  printf("It goes even after we closed file descriptor %d\n", fd);

  putchar('p'); putchar('u'); putchar('t'); putchar('c'); putchar('h');
  putchar('a'); putchar('r'); putchar(' '); putchar('w'); putchar('o');
  putchar('r'); putchar('k'); putchar('s'); putchar('\n');

  s = "And fwrite\n";

  fwrite(s, sizeof(char), strlen(s), stdout);

  fflush(stdout); 

  s = "And write\n";
  write(1, s, strlen(s));
  return 0;
}
</pre></td></table></center><p>

When it's done, you'll see
that everything has gone into <b>file4</b>:
<pre>
UNIX> <font color=darkred><b>bin/dup2ex</b></font>
UNIX> <font color=darkred><b>cat file4</b></font>
Standard output now goes to file4
It goes even after we closed file descriptor 3
putchar works
And fwrite
And write
UNIX>
</pre>
Why did I make the <b>fflush()</b> call in <b>src/dup2ex.c</b>?  Take it out
and see.  Make sure that you can explain this.

<p>
The program 
<b><a href=src/dup2ex2.c>src/dup2ex2.c</a></b> puts a <b>printf()</b> statement at the
beginning of the program:

<p><center><table border=3 cellpadding=3><td><pre>
int main()
{
  int fd;
  char *s;

  <font color=red>printf("Printing this before we open anything.\n");</font>

  /* Same as before.... */
</pre></td></table></center><p>

<p>

I'm doing this again to highlight buffering in the standard I/O library.  If we run this 
program with standard output going to the screen, then the first <b>printf()</b> statement goes to the
screen, and the remainder to <b>file4</b>.  This is because the standard I/O library flushes
the buffer after every newline when the output is to the screen:

<pre>
UNIX> <font color=darkred><b>bin/dup2ex2</b></font>
Printing this before we open anything.
UNIX> <font color=darkred><b>cat file4</b></font>
Standard output now goes to file4
It goes even after we closed file descriptor 3
putchar works
And fwrite
And write
UNIX> <font color=darkred><b></b></font>
</pre>

However, if we redirect standard output to a file, then the standard I/O library does not
flush the buffer until either the buffer is full, or the program exits.  For that reason,
the first string does not go to the screen, but instead it goes to the buffer.  The buffer
doesn't get flushed until <i>after</i> the <b>dup2()</b> call, so <i>all</i> of the output
goes to <b>file4</b>:

<pre>
UNIX> <font color=darkred><b>bin/dup2ex2 > file5</b></font>
UNIX> <font color=darkred><b>cat file5</b></font>
UNIX> <font color=darkred><b>cat file4</b></font>
Printing this before we open anything.
Standard output now goes to file4
It goes even after we closed file descriptor 3
putchar works
And fwrite
And write
UNIX> <font color=darkred><b></b></font>
</pre>

I've been over this buffering phenomenon a lot.  Make sure you understand it.



<hr>
<H3>You'll want to read this for <b>jsh1</b></h3>

Now, suppose you want to execute, for example, "<b>cat &lt; f1.txt &gt; f2.txt</b>" 
by calling <b>fork()</b>, <b>exec()</b> and
<b>dup2()</b> instead of doing it from the shell.
You can do this in 
<a href=src/catf1f2.c><b>src/catf1f2.c</a></b>.
This opens <b>f1.txt</b> for reading on <b>stdin</b>
(fd 0), and <b>f2.txt</b> for writing on <b>stdout</b> (fd 1).  

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program executes /bin/cat with stdin coming from f1.txt, and stdout
   going to f2.txt.  This is all done with fork, exec, and dup: */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;fcntl.h&gt;
#include &lt;sys/wait.h&gt;

int main(int argc, char **argv, char **envp)
{
  int fd1, fd2;
  int dummy;
  char *newargv[2];

  <font color=blue>/* In the child, first open f1.txt and then dup it to file descriptor zero. */</font>

  if (fork() == 0) {
    fd1 = open("f1.txt", O_RDONLY);
    if (fd1 &lt; 0) {
      perror("catf1f2: f1.txt");
      exit(1);
    }
  
    if (dup2(fd1, 0) != 0) {
      perror("catf1f2: dup2(f1.txt, 0)");
      exit(1);
    }
    close(fd1);
  
    <font color=blue>/* In the child, next open f2.txt and then dup it to file descriptor one. */</font>

    fd2 = open("f2.txt", O_WRONLY | O_TRUNC | O_CREAT, 0644);
    if (fd2 &lt; 0) {
      perror("catf1f2: f2.txt");
      exit(2);
    }
  
    if (dup2(fd2, 1) != 1) {
      perror("catf1f2: dup2(f2.txt, 1)");
      exit(1);
    }
    close(fd2);

    <font color=blue>/* Set up the argv array, and call execve(). */</font>
 
    newargv[0] = "cat";
    newargv[1] = (char *) 0;

    execve("/bin/cat", newargv, envp);
    perror("execve(bin/cat, newargv, envp)");
    exit(1);  

  <font color=blue>/* The parent merely waits for the child to exit. */</font>

  } else {
    wait(&dummy);
  }
  return 0;
}
</pre></td></table></center><p>

<p>Study this program closely, because you will find it greatly helpful
in the <b>jsh</b> lab.
