<h3>Example exam question (from the 2022 Final Exam)</h3>

You are working on a machine with 4-byte pointers.  Below are 264 bytes of heap memory.
All of these bytes are either allocated or free, and the free list is implemented as described
in the lecture.  In your answers, you may answer in either hex or decimal.  If your answer is
hex, make sure it is preceded by "0x".

<p><center><table border=3 cellpadding=3><td><pre>
Freelist pointer: 0x809cd0

0x809c40     0x18   0x809c98     0x28   0x809cf0 0x809d04   
0x809c44     0x30   0x809c9c 0x809ca4   0x809cf4 0x809d38   
0x809c48 0x809c5c   0x809ca0 0x809cbc   0x809cf8     0x30   
0x809c4c 0x809d08   0x809ca4 0x809c98   0x809cfc 0x809c58   
0x809c50 0x809ca8   0x809ca8 0x809d08   0x809d00 0x809cd0   
0x809c54 0x809c7c   0x809cac 0x809c98   0x809d04 0x809c48   
0x809c58     0x18   0x809cb0 0x809c54   0x809d08 0x809d28   
0x809c5c      0x0   0x809cb4 0x809ce8   0x809d0c 0x809d00   
0x809c60 0x809cf8   0x809cb8 0x809c68   0x809d10 0x809c60   
0x809c64 0x809c94   0x809cbc     0x30   0x809d14     0x28   
0x809c68 0x809d04   0x809cc0 0x809c68   0x809d18 0x809cac   
0x809c6c 0x809d24   0x809cc4 0x809cfc   0x809d1c 0x809c80   
0x809c70     0x20   0x809cc8 0x809c7c   0x809d20 0x809c5c   
0x809c74 0x809c64   0x809ccc     0x18   0x809d24 0x809cc0   
0x809c78 0x809c80   0x809cd0     0x28   0x809d28     0x28   
0x809c7c 0x809cac   0x809cd4 0x809cf8   0x809d2c     0x10   
0x809c80 0x809ca0   0x809cd8      0x0   0x809d30 0x809c50   
0x809c84 0x809c4c   0x809cdc 0x809cd0   0x809d34 0x809d1c   
0x809c88 0x809d34   0x809ce0 0x809d18   0x809d38 0x809c80   
0x809c8c     0x30   0x809ce4 0x809ce4   0x809d3c 0x809cf0   
0x809c90     0x40   0x809ce8 0x809c74   0x809d40 0x809d24   
0x809c94 0x809c8c   0x809cec 0x809c5c   0x809d44 0x809d28   
</pre></td></table></center><p>

Please answer the following questions:

<OL>
<LI> How many bytes are in the first free chunk of memory?
<LI> What is the address of the second free chunk of memory?
<LI> How many bytes are in the second free chunk of memory?
<LI> What is the address of the third free chunk of memory?
<LI> How many bytes are in the third free chunk of memory?
<LI> There are four allocated chnks of memory.  If we order them by their starting addresses, what is the address of the first one?
<LI> How many bytes are in the first one?
<LI> What is the address of the second one?
<LI> How many bytes are in the second one?
<LI> What is the address of the third one?
<LI> How many bytes are in the third one?
<LI> What is the address of the fourth one?
<LI> How many bytes are in the fourth one?
<LI> When the second chunk was allocated, the return value of the <b>malloc()</b> call was
     stored in an <b>(int *)</b> named <b>a</b>.  What is <b>*(a+1)</i>?
<OL> 
