<h1>Answers to Clicker Questions:</h1>

<h3> Question 1</h3>

You will allocate them with <b>"push #8"</b>, which subtracts 8 from the stack pointer.  You will
access them as offsets fo the frame pointer: <b>[fp]</b> and <b>[fp-4]</b>.  The answer is D.

<hr>
<h3> Question 2</h3>

If the address was in the frame pointer, you could simply use <b>[fp+20]</b>.  However, because it
is in a register, you'll need to add 20 to the register's value and then dereference it:

<pre>
mov #20 -> %r1
add %r0, %r1 -> %r1
ld [r1] -> r1
</pre>

The answer is <b>J</b>.

<hr>
<h3> Question 3</h3>

Since <b>i</b> is a pointer, <b>i[0]</b> is the value that you get by dereferencing <b>i</b>.
<b>i[1]</b> is the value that you get by dereferencing <b>i+4</b>.  Therefore the address of 
<b>i[1]</b> is <b>(i+4)</b>.  The answer is 0x654324: E.

<p>
Put another way, here's memory:

<pre>
       Address    Value
       0x765420 |  ?
       0x765424 |  ?
       0x765428 |  ?
       0x76542c |  ?
 i     0x765430 |  0x654320
       0x765434 |  ?
</pre>

<UL>
<LI> *i will be the four bytes in 0x654320
<LI> *(i+1) will be the four bytes in 0x654324
<LI> i[1] will also be the four bytes in 0x654324
<LI> &(i[1]) is therefore 0x654324
</UL>
