<h1>Clicker Questions:</h1>

<h3> Question 1</h3>

Suppose I am compiling a procedure to assembly code, and the procedure has two local variables, 
<b>i</b> and <b>j</b>.  They are both integers.  How will I access them when I want to load or store
them?

<pre>
A. fp[0] and fp[1]
B. sp[0] and sp[1]
C. [fp] and [fp+4]
D. [fp] and [fp-4]
E. [sp] and [sp+4]
F. [sp] and [sp-4]
G. fp and fp+4
H. fp and fp-4
I. sp and sp+4
J. sp and sp-4
</pre>

<hr>
<h3> Question 2</h3>

Suppose I have an address of the first element of an integer array in register <b>r0</b>.  
And suppose I want to put the element in index 5 into <b>r1</b>.  How do you think I'll do that?

<pre>
A. add %r0, #5 -> %r1;     ld [r1] -> %r1
B. add %r0, #20 -> %r1;    ld [r1] -> %r1
C. ld [r0]+5-> %r1
D. ld [r0]+20-> %r1
E. ld [r0+5] -> %r1
F. ld [r0+20] -> %r1
G. mov #5 -> %r1;          add [r0], %r1 -> %r1;       ld [r1] -> %r1
H. mov #20 -> %r1;         add [r0], %r1 -> %r1;       ld [r1] -> %r1
I. mov #5 -> %r1;          add %r0, %r1 -> %r1;         ld [r1] -> %r1
J. mov #20 -> %r1;         add %r0, %r1 -> %r1;         ld [r1] -> %r1
</pre>

<hr>
<h3> Question 3</h3>

Suppose I have an <b>(int *)</b> whose name is <i>i</i>, whose value is 0x654320 and whose address
is 0x765430.  What is <b>&amp;(i[1])</b>?

<pre>
A. 0x1
B. 0x4
C. 0x654320
D. 0x654321
E. 0x654324
F. 0x765430
G. 0x765431
H. 0x765434
I. Unknown
J. Segmentation Violation
</pre>
