<title>CS360 Lecture notes -- Dining Philosophers</title>
<body bgcolor=ffffff>
<h1>C360 Lecture notes -- Dining Philosophers</h1>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI><a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs360/cs360.html>CS360</a>
<LI>Directory: <b>/home/plank/cs360/notes/Dphil</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Dphil/lecture.html>
    <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Dphil/lecture.html</b></a>
<LI> My original Dining Philosopher's lecture was written in the late 1990's.
<LI> Complete overhaul: April, 2016
<LI> Latest modification: <i>
Mon May  2 12:21:13 EDT 2022
</i>
<hr>

<h1>Dining Philosophers</h1>

<font color=darkred>(This lecture was originally developed for an Operating
Systems class, so when you see references to books and labs, they are for that old class.
When I talk about "The Book", I'm talking
about <i>Operating Systems Concepts</i> by Silberschatz & Galvin</i>, probably one of those
middle editions like 7.  You don't need to own the book to understand the lecture.)</font>

<p>
The dining philosophers problem is a classical synchronization problem.
Taken at face value, it is a pretty meaningless problem, but it is
typical of many synchronization problems that you will see when allocating
resources in operating systems, and in parallel/distributed systems.  

<p>
Silberschatz & Galvin has an excellent description of dining philosophers.
I'll be a little more sketchy.

<p>The problem is defined as follows:  There are 5 philosophers sitting
at a round table.  Between each adjacent pair of philosophers is a chopstick.
In other words, there are five chopsticks.  Each philosopher does two
things: think and eat. The philosopher thinks for a while, and then 
stops thinking and becomes hungry.  When the philosopher becomes hungry,
he/she cannot eat until he/she owns the chopsticks to his/her left and
right.  When the philosopher is done eating he/she puts down the chopsticks
and begins thinking again.  

<p>Of course, the definition of this problem always leads me to ask a 
few questions:
<OL>
<LI> If these philosophers are so smart, shouldn't they be worried about
     communicable diseases?
<LI> Why chopsticks?  For some reason I envision philosophers liking soup.
<LI> Evidently conversing isn't in here -- why do they need to be at the
     same table?  I'm not sure if I'd enjoy having a philosopher philosophize
     while I'm eating.  But then again, I'm not a philosopher.
<LI> Shouldn't bathing be in the equation somewhere?
</OL>


<p>The challenge in the dining philosophers problem is to design a protocol
so that the philosophers do not deadlock (i.e. every 
philosopher has a chopstick), and so that no philosopher starves
(i.e. when a philosopher is hungry, he/she eventually gets the 
chopsticks).
Additionally, our protocol should try to be as efficient as possible -- 
in other words, we should try to minimize the time that philosophers
spend being hungry.

<p><i>(In case you're bored, here is that last paragraph in the
inimitable words of <a href=http://www.cs.ucsb.edu/~rich>professor Wolski</a>,
back when he taught at UT:
``Since these are either
unwashed, stubborn and deeply committed philosophers or unwashed,
clueless, and basically helpless philosophers, there is a possibility
for deadlock.  In particular, if all philosophers simultaneously grab
the chopstick on their left and then reach for the chopstick on their
right (waiting until one is available) before eating, they will all
starve.  The challenge in the dining philosophers problem is to
design a protocol so that the philosophers do not deadlock (i.e.  the
entire set of philosophers does not stop and wait indefinitely), and
so that no philosopher starves (i.e.  every philosopher eventually
gets his/her hands on a pair of chopsticks).''</i>) 

<hr>
<h2>Dining Philosophers Testbed with pthreads</h2>

What I've done is hack up a Dining Philosophers testbed.  I've organized
it like a lab:

<UL>
<LI> There is a header file in <b><a href=include/dphil.h>include/dphil.h</a></b>.  This 
defines the interface between the testbed, and solutions that you write.
<p>
<LI> There is a driver file in <b><a href=src/dphil_driver.c>src/dphil_driver.c</a></b>.
This defines the <b>main()</b> for instances of dining philosophers, and it
implements the philosophers and the chopsticks.  Each philosopher has its own
thread.
<p>
<LI> A solution needs to include <b>dphil.h</b>, and then be compiled with 
<b>src/dphil_driver.c</b>.  It must implement three procedures, which are 
specified in <b>dphil.h</b>:
<p>
<OL>
<LI> <b>void *initialize_v(int phil_count)</b>: A solution must manage its own data.
The only information that it gets from <b>src/dphil_driver.c</b> is the number of 
philosophers, here in <b>phil_count</b>, and the id of the relevant philosopher in 
the two calls below.  
<p>
A solution's data is going to be stored by <b>src/dphil_driver.c</b> as a <b>(void *)</b>,
which is returned here.  The two procedures below pass the <b>(void *)</b> back to
the solution.  This is how we allow flexibility in the solution.
<p>
<LI> <b>void i_am_hungry(void *v, int philosopher)</b> -- This is called by a 
philosopher when he/she becomes hungry.  It is called with the <b>(void *)</b>, 
and with the philosopher's number.  The solution needs to ensure that when
<b>i_am_hungry()</b> returns, the philosopher owns his or her two chopsticks.
<p>
<LI> <b>void i_am_done_eating(void *v, int philosopher)</b> -- This is called by a 
philosopher when he/she is done eating.  This is where the philosopher puts down the
chopsticks, and perhaps does other things to implement whatever protocol is part
of the solution.
</OL>
<p>
<LI> Finally, <b>src/dphil_driver.c</b> implements two procedures that solutions must call
to handle chopsticks:
<p>
<OL>
<LI> <b>void pick_up_chopstick(int philosopher, int chopstick)</b>:  This will block
   if the given chopstick is not available.    It also double-checks to make sure that the
   philosopher is in the correct state (hungry) to pick up the chopstick.  When the chopstick
   is available, it will "pick it up", and return.  It won't change the philosopher's state.
<P>
<LI> <b>void put_down_chopstick(int philosopher, int chopstick)</b>:  This also does some
   error-checking, (e.g. that the philosopher called <b>pick_up_chopstick()</b> on the 
   specified chopstick).  Then it ``releases'' the chopstick so that a philosopher blocked
   waiting for the chopstick can awaken and pick it up.
</OL>
</UL>

You call the driver as follows:

<p><center><table border=3 cellpadding=3><td><pre>
dphil num-philosophers max-think max-eat accounting-interval seed(-1=time(0)) sleep(u|s) print(y|n)
</pre></td></table></center><p>

The parameters are as follows:

<UL>
<LI> <b>num-philosophers</b>: The problem is interesting with 5 philosophers, but it becomes more
     interesting with more philosophers, so this is a parameter of the simulation.
<LI> <b>max-think</b>: Each philosopher will think for a random time between 1 and <b>max-think</b>.
<LI> <b>max-eat</b>: Each philosopher will eat for a random time between 1 and <b>max-eat</b>.
<LI> <b>accounting-interval</b>: If you specify this as a positive value, then a thread will be created
    which reports how long each philosopher has been hungry, at the given interval.
<LI> <b>seed</b>: Seed for the random number generator.  Since this
     program is threaded, it is not deterministic, even when two instances
     have the same seed.  They will generate the same random numbers in
     the same order, though.
<LI> <b>sleep</b>: If 's', then the thinking and eating times, and the accounting interval 
     are in seconds.  If 'u', then they are in microseconds.
<LI> <b>print</b>: If 'y', then the program prints what the philosophers are doing.
</UL>

<hr>
<h2>Solutions to the dining philosophers</h2>

I have written up 8 "solutions" to this problem.  You can copy all
of the .c files and the makefile to your own directory and try them
out for yourself.  I have also written a <b>tcl/tk</b> program 
named <b><a href=scripts/dphil.tcl>scripts/dphil.tcl</a></b>,
which visualizes the
output.  I'll give an example of that in the next section.
<p>
I have a null solution in
<b><a href=src/dphil_0_compiles.c>src/dphil_0_compiles.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;pthread.h&gt;
#include "dphil.h"

<font color=blue>/* Each of these does nothing. */</font>

void *initialize_v(int phil_count) { return NULL; }
void i_am_hungry(void *v, int philosopher) {}
void i_am_done_eating(void *v, int philosopher) {}
</pre></td></table></center><p>

This will compile, but it won't run correctly, because the philosophers never pick up 
the chopsticks.  <b>src/dphil_driver.c</b> will detect that something is amiss, because it checks
the states of the chopsticks when <b>i_am_hungry()</b> returns:

<pre>
UNIX> <font color=darkred><b>bin/dphil_0_compiles 5 5 5 0 0 s y</b></font>
#-Philosophers: 5
  0 Philosopher 0 Thinking (1)
  0 Philosopher 1 Thinking (3)
  0 Philosopher 2 Thinking (5)
  0 Philosopher 3 Thinking (3)
  0 Philosopher 4 Thinking (1)
  1 Philosopher 4 Hungry
  1 Philosopher 0 Hungry
  1 Philosopher 4 Error -- stick 4 state should be 4, but it is -1.
  1 Philosopher 0 Error -- stick 0 state should be 0, but it is -1.
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h2>Solution #1: (Right-Left) - Simply grabbing chopsticks</h2>

The simplest solution is to have each philosopher just call <b>pick_up_chopstick()</b> on 
his/her right chopstick, and then on the left chopstick.  The right one has the same id as
the philosopher, and the left one is numbered <b>(id+1)%num_philosophers</b> (that may seem
counter-intuitive, but if the philosophers are numbered clockwise around the table, that's how
it happens).
<p>
Here's the code -- very simple -- in 
<b><a href=src/dphil_1_right_left.c>src/dphil_1_right_left.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* The only information we need is the number of philosophers.
   This is because we have to calculate the chopstick numbers from
   the philosopher id. */</font>

typedef struct {
  int num;
} MyPhil;

<font color=blue>/* Store the number of philosophers in the (void *). */</font>

void *initialize_v(int phil_count) 
{
  MyPhil *p;

  p = (MyPhil *) malloc(sizeof(MyPhil));
  p-&gt;num = phil_count;

  return p; 
}

<font color=blue>/* These are straightforward, simply picking up and putting down
   chopsticks, first right, then left. */</font>

void i_am_hungry(void *v, int philosopher) 
{
  MyPhil *p;

  p = (MyPhil *) v;

  pick_up_chopstick(philosopher, philosopher);
  pick_up_chopstick(philosopher, (philosopher+1)%p-&gt;num);
}

void i_am_done_eating(void *v, int philosopher) 
{
  MyPhil *p;

  p = (MyPhil *) v;

  put_down_chopstick(philosopher, philosopher);
  put_down_chopstick(philosopher, (philosopher+1)%p-&gt;num);
}
</pre></td></table></center><p>

You can run it and inspect the output -- this one goes through time steps zero through six in a 
simple example:

<pre>
UNIX> <font color=darkred><b>bin/dphil_1_right_left 5 5 5 0 0 s y | head -n 50 | sed '/^ *[789]/,$d' > txt/output_D1_simple.txt</b></font>
</pre>

And here's that output file
(<b><a href=txt/output_D1_simple.txt>txt/output_D1_simple.txt</a></b>), which I have annotated so
that you can walk through it.

<p><center><table border=3 cellpadding=3><td><pre>
#-Philosophers: 5
  0 Philosopher 0 Thinking (2)
  0 Philosopher 1 Thinking (3)
  0 Philosopher 2 Thinking (4)
  0 Philosopher 3 Thinking (1)
  0 Philosopher 4 Thinking (5)
  1 Philosopher 3 Hungry                <font color=blue>| Timestep 1:</font>
  1 Philosopher 3 Picked Up Stick 3     <font color=blue>|   Philosopher 3 gets the chopsticks and eats.</font>
  1 Philosopher 3 Picked Up Stick 4
  1 Philosopher 3 Eating (1)
  2 Philosopher 0 Hungry                <font color=blue>| Timestep 2:</font>
  2 Philosopher 0 Picked Up Stick 0     <font color=blue>|   Philosopher 0 gets the chopsticks and eats.</font>
  2 Philosopher 0 Picked Up Stick 1     <font color=blue>|   Philosopher 3 puts the chopsticks down.</font>
  2 Philosopher 0 Eating (3)       
  2 Philosopher 3 Put Down Stick 3
  2 Philosopher 3 Put Down Stick 4 
  2 Philosopher 3 Thinking (3)
  3 Philosopher 1 Hungry                <font color=blue>| Timestep 3:</font>
  3 Philosopher 1 Blocking on Stick 1   <font color=blue>|   Philosopher 1 hungry: Blocks on chopstick 1.</font>
  4 Philosopher 2 Hungry                <font color=blue>| Timestep 4:</font>
  4 Philosopher 2 Picked Up Stick 2     <font color=blue>|   Philosopher 2 gets the chopsticks and eats.</font>
  4 Philosopher 2 Picked Up Stick 3     
  4 Philosopher 2 Eating (2)
  5 Philosopher 4 Hungry                <font color=blue>| Timestep 5:</font>
  5 Philosopher 4 Picked Up Stick 4     <font color=blue>|   Philosopher 4 hungry:</font>
  5 Philosopher 4 Blocking on Stick 0   <font color=blue>|      - Gets chopstick 4, blocks on 0.</font>
  5 Philosopher 0 Put Down Stick 0      <font color=blue>|   Philosopher 0 puts the chopsticks down.</font>
  5 Philosopher 0 Put Down Stick 1      <font color=blue>|   Philosopher 4 now gets chopstick 0 and eats.</font>
  5 Philosopher 0 Thinking (1)          <font color=blue>|   Philosopher 1 now gets stick 1, blocks on stick 2.</font>
  5 Philosopher 4 Picked Up Stick 0     <font color=blue>|   Philosopher 3 hungry: Blocks on 3.</font>
  5 Philosopher 4 Eating (3)
  5 Philosopher 1 Picked Up Stick 1
  5 Philosopher 1 Blocking on Stick 2
  5 Philosopher 3 Hungry
  5 Philosopher 3 Blocking on Stick 3
  6 Philosopher 2 Put Down Stick 2      <font color=blue>| Timestep 6:</font>
  6 Philosopher 2 Put Down Stick 3      <font color=blue>|   Philosopher 2 puts the chopsticks down.</font>
  6 Philosopher 2 Thinking (4)          <font color=blue>|   Philosopher 1 now gets chopstick 2 and eats.</font>
  6 Philosopher 1 Picked Up Stick 2     <font color=blue>|   Philosopher 3 now gets chopstick 3, blocks on 4.</font>
  6 Philosopher 1 Eating (1)            <font color=blue>|   Philosopher 0 hungry, blocks on chopstick 0</font>
  6 Philosopher 3 Picked Up Stick 3
  6 Philosopher 3 Blocking on Stick 4
  6 Philosopher 0 Hungry
  6 Philosopher 0 Blocking on Stick 0
</pre></td></table></center><p>

I've written up a visualizer (<b>scripts/dphil.tcl</b>)
for the output of the programs.   It is meant to be
run in two ways.  The first is by piping standard output of the program into the
visualizer.  The second is by using the program
<b>phil_step</b> on output files.  Let me show you how <b>phil_step</b> works:

<pre>
UNIX> <font color=darkred><b>bin/phil_step txt/output_D1_simple.txt | wish scripts/dphil.tcl</b></font>
  1 Philosopher 3 Hungry
  1 Philosopher 3 Picked Up Stick 3
  1 Philosopher 3 Picked Up Stick 4
  1 Philosopher 3 Eating (1)
</pre>

This will bring up a viz window, showing the philosophers in timestep 0.  Philosopher 0
is on the top, and the philsopher numbers increase clockwise.  I don't show the
numbers -- sorry:

<p><center><table border=3><td><img src=img/DP-Ex1.jpg width=300></td></table></center><p>

<b>Phil_step</b> displays the "next" timestep from the one that is being displayed, and
when you type RETURN, it will send that information to be displayed by the viz.  For 
example, if you type return into the command above, it will print the next timesteps, 
and the viz will display the current timestep.  In this case, <b>phil_step</b> shows
what will happen in timestep 2, and the viz shows what is happening in timestep 1
(philosopher 3 is eating).  As you can see, "thinking" is yellow, and "eating" is blue.

<p>
<center>
<table border=3 cellpadding=5>
<td valign=top>
<pre>
  2 Philosopher 0 Hungry
  2 Philosopher 0 Picked Up Stick 0
  2 Philosopher 0 Picked Up Stick 1
  2 Philosopher 0 Eating (3)
  2 Philosopher 3 Put Down Stick 3
  2 Philosopher 3 Put Down Stick 4
  2 Philosopher 3 Thinking (3)
</pre>
</td>
<td valign=top>
<center><table border=3><td><img src=img/DP-Ex2.jpg width=300></td></table></center></td></table>
</center><p>

Here are timesteps 2, 3, 4 and 5:

<p><center><table border=3>
<td align=center valign=top><img src=img/DP-Ex3.jpg width=200><br>
Timestep 2:<br>
Philosopher 3 stops eating.<br>
Philosopher 0 gets sticks and eats.</td>
<td align=center valign=top><img src=img/DP-Ex4.jpg width=200><br>
Timestep 3:<br>
Philosopher 1 hungry.<br>
(Hungry is red).</td>
<td align=center valign=top><img src=img/DP-Ex5.jpg width=200><br>
Timestep 4:<br>
Philosopher 2 gets sticks and eats.</td>
<td align=center valign=top><img src=img/DP-Ex6.jpg width=200><br>
Timestep 5:<br>
Philosopher 0 stops eating.<br>
Philosopher 1 gets stick 1, blocks on stick 2.<br>
Philosopher 4 gets sticks and eats.<br>
Philosopher 3 hungry and blocks.</td>
</table></center><p>

Now, this solution is not a good solution.  The major reason is that it can deadlock.
We'll show that in the next section.  A secondary, very important reason is that
philosophers spend too much time being hungry.  We can demonstrate this in 
two ways.  The first is to use the "u" option and to look at the blocktimes.  Here
I have the think and eat times set to random numbers up to 500 microseconds, and
I print the hungry times after 20 seconds:

<pre>
UNIX> <font color=darkred><b>bin/dphil_1_right_left 5 500 500 20000000 1 u n</b></font>
 20.005 Total-Hungry 70.273
 20.005 Individual-Hungry  14.048  14.073  14.031  14.064  14.057
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> 
</pre>

We'll see that these aren't the best times.  The other way is to look at the viz when
you have a lot of philosophers.  Here's an example to try:

<pre>
UNIX> <font color=darkred><b>bin/dphil_1_right_left 25 5 5 0 0 s y | wish scripts/dphil.tcl</b></font>
</pre>

After a while when running this, I saw the following:

<p><center><table border=3><td><a href=img/DP1-Bad2.jpg><img src=img/DP1-Bad2.jpg width=300></a></td></table></center><p>

You should see why this is bad -- of the 25 philosophers, 13 of them are blocked holding
their right chopstick and waiting for their left chopstick.  (One is blocked, waiting for his
right chopstick).  Many of these philosophers could eat with a better protocol.

<hr>
<h3>Walk Through For Class</h4>

For these solutions, I'm going to additionally have a walk-through of some figural examples.
These are examples which are unique to the solution, and you should be able to tell that
by looking at the examples.  The following one comes from tracing through
<b><a href=txt/output_9_1_right_left.txt>txt/output_9_1_right_left.txt</a></b> with
the visualizer.  In particular, here are pictures of step 2, what happens in step 3, and
step three:

<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 2</u></b><p><a href=img/steps_1_S2.jpg><img src=img/steps_1_S2.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 3:</u></b><p>
<UL>
<LI> Philosopher 4 stops eating.
<LI> Philosopher 1 becomes hungry, but has to block on the right stick.
<LI> Philosopher 7 becomes hungry, grabs the right stick but blocks on the left stick.
<LI> Philosopher 6 becomes hungry, grabs the right stick but blocks on the left stick.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 3</u></b><p><a href=img/steps_1_S3.jpg><img src=img/steps_1_S3.jpg width=300></a></td>
</table></center><p>

What makes this a figural example is that all of the philosophers are trying to get their
right sticks, and then their left sticks.  This can't happen with any of the other solutions.

<hr>
<h3>Solution 1A -- Deadlock</h3>

With solution 1A, 
<b>(<a href=src/dphil_1a_right_left.c>src/dphil_1a_right_left.c</a>)</b>
I have added a three second delay after grabbing the right chopstick.  You can see
deadlock here if you set the think time under two seconds:


<p>
<center>
<table border=3 cellpadding=5>
<td valign=top>
<pre>
UNIX> <font color=darkred><b>bin/dphil_1a_right_left 5 2 2 0 0 s y</b></font>
#-Philosophers: 5
  0 Philosopher 0 Thinking (2)
  0 Philosopher 1 Thinking (2)
  0 Philosopher 2 Thinking (2)
  0 Philosopher 3 Thinking (2)
  0 Philosopher 4 Thinking (2)
  2 Philosopher 0 Hungry
  2 Philosopher 1 Hungry
  2 Philosopher 2 Hungry
  2 Philosopher 3 Hungry
  2 Philosopher 4 Hungry
  2 Philosopher 0 Picked Up Stick 0
  2 Philosopher 1 Picked Up Stick 1
  2 Philosopher 2 Picked Up Stick 2
  2 Philosopher 3 Picked Up Stick 3
  2 Philosopher 4 Picked Up Stick 4
  5 Philosopher 0 Blocking on Stick 1
  5 Philosopher 1 Blocking on Stick 2
  5 Philosopher 3 Blocking on Stick 4
  5 Philosopher 4 Blocking on Stick 0
  5 Philosopher 2 Blocking on Stick 3
</pre>
</td>
<td valign=top>
<center><table border=3><td><img src=img/DP1-Deadlock.jpg width=300></td></table></center></td></table>
</center><p>



<hr>
<h2>Solution #2: (Even-Odd) - Even and Odd philosophers do different things</h2>

One simple way to prevent deadlock is to have even-numbered
philosophers get their chopsticks in one order, and odd-numbered
philosophers get their chopsticks in the other order.  That prevents
the "circular wait" requirement of deadlock.
<p>
This code is in:
<b><a href=src/dphil_2_even_odd.c>src/dphil_2_even_odd.c</a></b>, and here is the 
relevant code:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Even philosophers go right-left, and odd philosophers go left-right. */</font>

void i_am_hungry(void *v, int philosopher) 
{
  MyPhil *p;

  p = (MyPhil *) v;

  if (philosopher % 2 == 0) {
    pick_up_chopstick(philosopher, philosopher);
    pick_up_chopstick(philosopher, (philosopher+1)%p-&gt;num);
  } else {
    pick_up_chopstick(philosopher, (philosopher+1)%p-&gt;num);
    pick_up_chopstick(philosopher, philosopher);
  }
}
</pre></td></table></center><p>

When we run this on our "usleep" example above, we see much better blocking times:

<pre>
UNIX> <font color=darkred><b>bin/dphil_2_even_odd 5 500 500 20000000 1 u n</b></font>
 20.005 Total-Hungry 32.079
 20.005 Individual-Hungry   4.896   6.257   6.259   7.154   7.513
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> 
</pre>

Do you see anything odd with those individual block times?  Philosopher 0 is hungry a lot
less than the others.  Philsophers 1 and 2 are hungry less than philosophers 3 and 4.
Let's think about why that is true -- here is the chopstick that each philosopher tries to
grab first:

<UL>
<LI> Philosopher 0 wants chopstick 0.
<LI> Philosopher 1 wants chopstick 2.
<LI> Philosopher 2 wants chopstick 2.
<LI> Philosopher 3 wants chopstick 4.
<LI> Philosopher 4 wants chopstick 4.
</UL>

Now do you see why Philosopher 0 is hungry less than the others?  It's because he/she doesn't
compete with another philosopher for the first chopstick.  If Philosopher 0 is blocked on 
chopstick 0, it's because philosopher 4 is eating.  All of the other philosophers can block 
on their first chopsticks, and the philosopher on whom they are blocking may not be eating.
<p>
Let's look at a picture of 25 philosophers running with this "solution."

<pre>
UNIX> <font color=darkred><b>bin/dphil_2_even_odd 25 5 5 0 0 s y | wish scripts/dphil.tcl</b></font>
</pre>

<center><table border=3><td><img src=img/DP2-SS.jpg width=300></td></table></center></td></table><p>

As you can see, there are a few instances above where philosophers could eat, but aren't
eating.  This should give you a hint that this protocol, although it prevents deadlock,
isn't the best.

<hr>
<h3>Walk Through For Class</h4>

The following one comes from tracing through
<b><a href=txt/output_9_2_even_odd.txt>txt/output_9_2_even_odd.txt</a></b> with the
the visualizer.  Here are pictures of step 3, what happens in step 4, and
step 4:

<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 3</u></b><p><a href=img/steps_2_S3.jpg><img src=img/steps_2_S3.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 4:</u></b><p>
<UL>
<LI> Philosopher 3 becomes hungry, and blocks on the right stick.
<LI> Philosopher 7 becomes hungry, and blocks on the left stick.
<LI> Philosopher 1 becomes hungry, gets the left stick, but blocks on the right stick.
<LI> Philosopher 2 becomes hungry, and blocks on the right stick.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 4</u></b><p><a href=img/steps_2_S4.jpg><img src=img/steps_2_S4.jpg width=300></a></td>
</table></center><p>

What makes this a figural example is that you can see the odd philosophers going left-right
and the even philosophers going right-left.  
This can't happen with any of the other solutions.

<hr>
<h2>Solution #3: (Hold and Wait) - Don't grab any chopsticks unless they are both available.</h2>

This is the solution proposed by Silberschatz and Galvin in their textbook.  It addresses
the "hold and wait" requirement of deadlock -- make it so that no philosopher can pick
up a chopstick unless both of his/her chopsticks are available.  We implement
this in <b><a href=src/dphil_3_hold_and_wait.c>src/dphil_3_hold_and_wait.c</a></b>, with one mutex
and one condition variable for each philosopher.  The philosophers now check both 
chopsticks, and if either is not available, the philosopher blocks on his/her condition
variable.  This requires philosophers to signal adjacent philosophers when they put their
chopsticks down.  
<p>
Study this code if it is not straightforward to you -- this is a pretty classic use
of condition variables.  Below, I show our data structure, and the pickup/putdown code:

<p><center><table border=3 cellpadding=3><td><pre>
typedef struct {
  int num;
  pthread_mutex_t *lock;                 <font color=blue>/* This is so that you can look at the chopsticks. */</font>
  pthread_cond_t **blocked_philosophers; <font color=blue>/* Block if either chopstick is not available. */</font>
  int *stick_states;                     <font color=blue>/* This is how you monitor the chopsticks. */</font>
} MyPhil;                                <font color=blue>/* 'U' means taken.  'D' means available. */</font>

void i_am_hungry(void *v, int philosopher) 
{
  MyPhil *p;
  int stick1, stick2;

  p = (MyPhil *) v;
  stick1 = philosopher;
  stick2 = (philosopher+1)%p-&gt;num;

  <font color=blue>/* While either chopstick is in use, block. */</font>

  pthread_mutex_lock(p-&gt;lock);
  while (p-&gt;stick_states[stick1] == 'U' ||
         p-&gt;stick_states[stick2] == 'U') {
    pthread_cond_wait(p-&gt;blocked_philosophers[philosopher], p-&gt;lock);
  }

  <font color=blue>/* Now, both chopsticks are available.  
     We hold the lock to make sure that no other philosopher gets our chopsticks
     while we are picking up chopsticks. */</font>

  pick_up_chopstick(philosopher, philosopher);
  pick_up_chopstick(philosopher, (philosopher+1)%p-&gt;num);

  p-&gt;stick_states[stick1] = 'U';
  p-&gt;stick_states[stick2] = 'U';
  pthread_mutex_unlock(p-&gt;lock);
}

void i_am_done_eating(void *v, int philosopher) 
{
  MyPhil *p;
  int stick1, stick2;
  int leftp, rightp;

  p = (MyPhil *) v;
  stick1 = philosopher;
  stick2 = (philosopher+1)%p-&gt;num;
  leftp = (philosopher+p-&gt;num-1)%p-&gt;num;
  rightp = stick2;

  pthread_mutex_lock(p-&gt;lock);
  put_down_chopstick(philosopher, philosopher);
  put_down_chopstick(philosopher, (philosopher+1)%p-&gt;num);
  p-&gt;stick_states[stick1] = 'D';
  p-&gt;stick_states[stick2] = 'D';

  <font color=blue>/* After we put down out chopsticks, we need to signal adjacent philosophers. */</font>

  pthread_cond_signal(p-&gt;blocked_philosophers[leftp]);
  pthread_cond_signal(p-&gt;blocked_philosophers[rightp]);
  pthread_mutex_unlock(p-&gt;lock);
}
</pre></td></table></center><p>

Now, you see much better hungry times:

<pre>
UNIX> <font color=darkred><b>bin/dphil_3_hold_and_wait 5 500 500 20000000 1 u n</b></font>
 20.004 Total-Hungry 29.211
 20.004 Individual-Hungry   5.814   5.862   5.842   5.855   5.837
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>

Here's a screen shot of the 25-philosopher case.  One of the features of this is that
you'll never have a case where three philsophers in a row are blocked, or that you 
have two adjacent blocked philosophers where one is next to a thinking philosopher.

<center><table border=3><td><img src=img/DP3-Ex.jpg width=300></td></table></center></td></table>
<p>

This implementation does not prevent starvation.  Consider the following sequence of
thinking and eating:

<p><center><table border=3>
<td align=center valign=top><img src=img/starve-1.jpg width=200><br>
Starting State:<br>
Philosophers 0 and 2 eating.</td>
<td align=center valign=top><img src=img/starve-2.jpg width=200><br>
Philosopher 2 stops eating.<br>
Philosopher 3 now eats.</td>
<td align=center valign=top><img src=img/starve-3.jpg width=200><br>
Philosopher 0 stops eating.<br>
Philosopher 1 now eats.</td>
<td align=center valign=top><img src=img/starve-2.jpg width=200><br>
Philosopher 1 stops eating.<br>
Philosopher 0 now eats.</td>
<td align=center valign=top><img src=img/starve-1.jpg width=200><br>
Philosopher 3 stops eating.<br>
Philosopher 2 now eats.<br>
Repeat; repeat; repeat.<td>
</table></center><p>

If the philosophers always think and eat in this fashion, then philosopher 4 starves.
That's because the protocol does not do anything to make sure that philosophers
eventually get the chopsticks.
<hr>
<h3>Walk Through For Class</h4>

The following one comes from tracing through
<b><a href=txt/output_9_3_hold_n_wait.txt>txt/output_9_3_hold_n_wait.txt</a></b> with the
the visualizer.  Here are pictures of step 6, what happens in step 7, and
step 8:

<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 6</u></b><p><a href=img/steps_3_S6.jpg><img src=img/steps_3_S6.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 7:</u></b><p>
<UL>
<LI> Philosopher 2 becomes hungry, gets both sticks and starts eating.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 7</u></b><p><a href=img/steps_3_S7.jpg><img src=img/steps_3_S7.jpg width=300></a></td>
</table></center><p>

This can't be either of the first two solutions after timestep 6, 
because philosopher 3 would have grabbed
the right stick in solution 1, and philospher 1 would have
grabbed the left stick in solution 2.  In the solutions that follow (well, with the
exception of the last, but we'll ignore that), philosopher 2 would
not be allowed to eat in timestep 7.


<hr>
<h2>Solution #4: (Global List) - You can't eat if someone before you is hungry.</h2>

We now start to address starvation.  In order to do so, we need to ensure that if a
philosopher is hungry, he or she eventually eats.  The simplest of these is
in <b><a href=src/dphil_4_global_list.c>src/dphil_4_global_list.c</a></b>.
In this implementation, we maintain a global queue, and whenever a philosopher is
hungry, he/she goes onto the end of the queue.  Our invariant is that the only 
philosopher who can eat is the one on the head of the queue.  
<p>
Does this mean that only one philosopher can eat?  No -- at all times, if the philosopher
at the head of the queue can eat, he or she should eat.  That means, for example, that
if philosophers 0, 2 and 1 become hungry in that order, 0 and 2 can eat.  On the flip
side, if philosophers 0, 1 and 2 become hungry in that order, only 0 can eat.  
<p>
To implement this, we need to check the head of the queue at three times:
<OL>
<LI> Whenever a philosopher becomes hungry.
<LI> Whenever a philosopher stops eating.
<LI> Whenever a philosopher starts eating.  
</OL>

The last of these happens in the following situation -- philosophers 1, 0 and 2 become 
hungry in that order.  Philosopher 1 will eat, and when he/she is done, philosopher 0
is on the head of the queue and will eat next.  We need to check the queue here too, because
philosopher 2 can also eat.  If we didn't check the queue, then philosopher 2 would stay 
there, even though he/she can eat.
<p>
Here is the relevant code:
<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Now we keep a queue of philosophers who are hungry.  If the queue isn't empty,
   then whenever a philosopher is hungry, he/she has to go on the end of the 
   queue.  Only the philosopher on the head of the queue can eat.   

   We use a simple array to model the queue.  The queue's size is held in 
   wq_size.  The first philosopher is at wq_head.  When you insert a philosopher
   on the queue, then he/she goes into elelemtn (wq_head+wq_size)%num. */</font>

typedef struct {
  int num;
  pthread_mutex_t *lock;
  pthread_cond_t **blocked_philosophers;
  int *stick_states;
  int *waiting_queue;
  int wq_head;
  int wq_size;
} MyPhil;

void i_am_hungry(void *v, int philosopher) 
{
  MyPhil *p;
  int stick1, stick2;

  p = (MyPhil *) v;
  stick1 = philosopher;
  stick2 = (philosopher+1)%p-&gt;num;

  pthread_mutex_lock(p-&gt;lock);

  <font color=blue>/* Put yourself on the queue */</font>

  p-&gt;waiting_queue[(p-&gt;wq_head + p-&gt;wq_size)%p-&gt;num] = philosopher;
  p-&gt;wq_size++;

  <font color=blue>/* You can't eat until you are on the head of the queue, and your
     chopsticks are available. */</font>

  while (p-&gt;waiting_queue[p-&gt;wq_head] != philosopher ||
         p-&gt;stick_states[stick1] == 'U' ||
         p-&gt;stick_states[stick2] == 'U') {
    pthread_cond_wait(p-&gt;blocked_philosophers[philosopher], p-&gt;lock);
  }

  <font color=blue>/* When you reach this part of the code, you can eat. */</font>

  pick_up_chopstick(philosopher, philosopher);
  pick_up_chopstick(philosopher, (philosopher+1)%p-&gt;num);

  p-&gt;stick_states[stick1] = 'U';
  p-&gt;stick_states[stick2] = 'U';

  <font color=blue>/* Remove yourself from the queue, and signal whoever is now on the
     head of the queue. */</font>

  p-&gt;wq_head = (p-&gt;wq_head + 1) % p-&gt;num;
  p-&gt;wq_size--;
  if (p-&gt;wq_size &gt; 0) {
    pthread_cond_signal(p-&gt;blocked_philosophers[p-&gt;waiting_queue[p-&gt;wq_head]]);
  }
  
  pthread_mutex_unlock(p-&gt;lock);
}

<font color=blue>/* When you're done eating, signal the philosopher on the head of the queue. */</font>

void i_am_done_eating(void *v, int philosopher) 
{
  MyPhil *p;
  int stick1, stick2;
  int leftp, rightp;

  p = (MyPhil *) v;
  stick1 = philosopher;
  stick2 = (philosopher+1)%p-&gt;num;
  leftp = (philosopher+p-&gt;num-1)%p-&gt;num;
  rightp = stick2;

  pthread_mutex_lock(p-&gt;lock);
  put_down_chopstick(philosopher, philosopher);
  put_down_chopstick(philosopher, (philosopher+1)%p-&gt;num);
  p-&gt;stick_states[stick1] = 'D';
  p-&gt;stick_states[stick2] = 'D';
  if (p-&gt;wq_size &gt; 0) {
    pthread_cond_signal(p-&gt;blocked_philosophers[p-&gt;waiting_queue[p-&gt;wq_head]]);
  }
  pthread_mutex_unlock(p-&gt;lock);
}
</pre></td></table></center><p>

This does prevent starvation, but as you can imagine, it leads to much larger hungry times:

<pre>
UNIX> <font color=darkred><b>bin/dphil_4_global_list 5 500 500 20000000 1 u n</b></font>
 20.000 Total-Hungry 44.459
 20.000 Individual-Hungry   8.882   8.914   8.884   8.891   8.889
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>

The screenshot is from a run with 25 philosophers, and as you can see, we have a lot
of blocked philosophers here -- if the head of the queue is blocked, then everyone
can be blocked.

<p><center><table border=3><td><img src=img/DP4.jpg width=300></td></table></center><p>

<hr>
<h3>Walk Through For Class</h4>

The following one comes from tracing through
<b><a href=txt/output_9_4_global_list.txt>txt/output_9_4_global_list.txt</a></b> with the
the visualizer.  Here are pictures of step 35, what happens in step 36, and
step 36:

<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 35</u></b><p><a href=img/steps_4_S35.jpg><img src=img/steps_4_S35.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 36:</u></b><p>
<UL>
<LI> Philosopher 4 becomes hungry and blocks.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 36</u></b><p><a href=img/steps_4_S36.jpg><img src=img/steps_4_S36.jpg width=300></a></td>
</table></center><p>

This is the only solution where this would happen -- a philosopher becomes hungry,
both adjacent philosophers are thinking, and the philosopher blocks.

<hr>
<h2>Solution #5: (Take A Number) - You can't eat if your neighbors are hungrier.</h2>

An obvious problem with the last solution is that a hungry philosopher across the 
table from you can prevent you from eating.  So, here's a more localized solution.
You can never eat if either of your neighbors is hungrier than you.
Now, you're only limited by your neighbors (kind of...).
<p>
The implementation is in
<b><a href=src/dphil_5_take_a_number.c>src/dphil_5_take_a_number.c</a></b>.  
What I do here is associate a number with each philosopher.  When the 
philosopher is thinking, his/her number is a high sentinel (0x7fffffff).
When the philosopher is eating, his/her number is a low sentinel (-1).
And when a philosopher becomes hungry, he/she gets a number from a counter, that
is increased after the philosopher gets the number.
<p>
Under this system, a philosopher can only eat if he/she has a lower number than
his/her neighbors.  Very simple.  If a philosopher can't eat, he/she blocks on 
a conditional variable, when when a philosopher stops eating, he/she signals
his/her neighbors.
<p>
Here's the relevant code:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* No more queue here -- each philosopher is going to "take a number" when hungry. */</font>

typedef struct {
  int num;
  pthread_mutex_t *lock;
  pthread_cond_t **blocked_philosophers;
  int *phil_number;
  int counter;
} MyPhil;

#define HIGH_SENTINEL (0x7fffffff)
#define LOW_SENTINEL (-1)

void i_am_hungry(void *v, int philosopher) 
{
  MyPhil *p;
  int leftp, rightp;

  p = (MyPhil *) v;
  leftp = (philosopher+1)%p-&gt;num;
  rightp = (philosopher+p-&gt;num-1)%p-&gt;num;

  pthread_mutex_lock(p-&gt;lock);

  <font color=blue>/* Here's where I take a number. */</font>

  p-&gt;phil_number[philosopher] = p-&gt;counter;
  p-&gt;counter++;

  <font color=blue>/* As long as my neighbors have a lower number than me, block. */</font>

  while (p-&gt;phil_number[leftp] &lt; p-&gt;phil_number[philosopher] ||
         p-&gt;phil_number[rightp] &lt; p-&gt;phil_number[philosopher]) {
    pthread_cond_wait(p-&gt;blocked_philosophers[philosopher], p-&gt;lock);
  }

  pick_up_chopstick(philosopher, philosopher);
  pick_up_chopstick(philosopher, (philosopher+1)%p-&gt;num);

  p-&gt;phil_number[philosopher] = LOW_SENTINEL;

  pthread_mutex_unlock(p-&gt;lock);
}

void i_am_done_eating(void *v, int philosopher) 
{
  MyPhil *p;
  int leftp, rightp;

  p = (MyPhil *) v;
  leftp = (philosopher+1)%p-&gt;num;
  rightp = (philosopher+p-&gt;num-1)%p-&gt;num;

  pthread_mutex_lock(p-&gt;lock);
  put_down_chopstick(philosopher, philosopher);
  put_down_chopstick(philosopher, (philosopher+1)%p-&gt;num);
  p-&gt;phil_number[philosopher] = HIGH_SENTINEL;
  
  pthread_cond_signal(p-&gt;blocked_philosophers[leftp]);
  pthread_cond_signal(p-&gt;blocked_philosophers[rightp]);
  pthread_mutex_unlock(p-&gt;lock);
}
</pre></td></table></center><p>

When we run this, we don't see much improvement over the global queue.  

<pre>
UNIX> <font color=darkred><b>bin/dphil_5_take_a_number 5 500 500 20000000 1 u n</b></font>
 20.000 Total-Hungry 41.099
 20.000 Individual-Hungry   8.232   8.191   8.211   8.222   8.243
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>

The global queue had a total hungry time of 44.459 seconds.  The hold-and-wait 
solution's total hungry time was 29.211.  That seems dire, but try the viz.  You won't
have to wait too long until you get something like this:

<p><center><table border=3><td><img src=img/DP5.jpg width=300></td></table></center><p>

As you can see, philosopher 1 is blocking, even though the chopsticks are available.
With just five philosophers, there aren't a huge number of cases where this implementation
is better than the global queue.  If you run them both with a larger table, the difference
is more marked:

<pre>
UNIX> <font color=darkred><b>bin/dphil_4_global_list 25 500 500 20000000 1 u n </b></font>
 19.999 Total-Hungry 361.248
 19.999 Individual-Hungry  14.408  14.460  14.440  ....
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b>bin/dphil_5_take_a_number 25 500 500 20000000 1 u n </b></font>
 20.001 Total-Hungry 207.315
 20.001 Individual-Hungry   8.308   8.287   8.326  ...
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>

Here's my 25-philosopher screen shot.  As you can see, this protocol does not prevent multiple
adjacent philosophers from blocking.  You can get chains of blocking philosophers, depending
on the order in which they get hungry.

<p><center><table border=3><td><img src=img/DP5A.jpg width=300></td></table></center><p>

<hr>
<h3>Walk Through For Class</h4>

This comes from tracing through
<b><a href=txt/output_9_5_take_a_number.txt>txt/output_9_5_take_a_number.txt</a></b> 
steps 2 and 3:
step three:

<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 2</u></b><p><a href=img/steps_5_S2.jpg><img src=img/steps_5_S2.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 3:</u></b><p>
<UL>
<LI> Philosopher 1 becomes hungry and blocks.
<LI> Philosopher 6 becomes hungry, gets the sticks and eats.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 3</u></b><p><a href=img/steps_5_S3.jpg><img src=img/steps_5_S3.jpg width=300></a></td>
</table></center><p>

You can identify this algorithm with three facts:
<OL>
<LI> Philosopher 1 is hungry with both sticks available, but blocks.  This wouldn't happen in 
solutions 1-3, because philosopher 1 would get both sticks in this case.
<LI> So, this has to be algorithm 4 or 5.
<LI> Philsopher 6 becomes hungry and gets the chopsticks, even though philosopher 2 has been
waiting longer.  So this can't be solution 4.  It has to be solution 5.
</OL>

<hr>
<h2>Solution #6: (Hybrid) - You can't eat if your neighbors are starving.</h2>

The problem with the previous two solutions is that they are too proactive -- they
block philosophers too much to prevent starvation.  Let's put it in another way:
Starvation happens very rarely, but we go into very active measures to prevent it.
What if we were more lax.
<p>
The last solution is just like the previous one, but instead of blocking if your neighbor
has been hungry longer than you, you block when your neighbor is <i>really</i> hungry.
In the code -- you block when your neighbor's number is more than 500 less than your number.
You need to be careful with the "Eating" sentinel -- if you make it -501, and you start
your counter at 0, then it works properly.  
<p>
I'm only going to include the changed line in <b>i_am_hungry()</b>.  The program
is 
<b><a href=src/dphil_6_hybrid.c>src/dphil_6_hybrid.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#define THRESH (5)
...
  while (p-&gt;phil_number[philosopher] - p-&gt;phil_number[leftp] &gt; THRESH * p-&gt;num ||
         p-&gt;phil_number[philosopher] - p-&gt;phil_number[rightp] &gt; THRESH * p-&gt;num) {
    pthread_cond_wait(p-&gt;blocked_philosophers[philosopher], p-&gt;lock);
  }
</pre></td></table></center><p>

Now, the performance is like the Hold-and-Wait implementation, but starvation is prevented!

<pre>
UNIX> <font color=darkred><b>bin/dphil_6_hybrid 5 500 500 20000000 1 u n</b></font>
 19.999 Total-Hungry 29.107
 19.999 Individual-Hungry   5.802   5.785   5.834   5.822   5.864
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>

You'll see that the performance is superior to the previous two with 25 philosophers too:

<pre>
UNIX> <font color=darkred><b>bin/dphil_6_hybrid 25 500 500 20000000 1 u n</b></font>
 20.004 Total-Hungry 155.495
 20.004 Individual-Hungry   6.240   6.168   6.241   ...
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Timing Comparison</h3>

Here is the comparison of the six implementations with a five-philiospher table,
and with a 25-philosopher table, over 20 seconds.

<p><center><table border=3><td><img src=img/timing.jpg width=250></td>
<td><img src=img/timing-25.jpg width=250></td></table></center><p>

A few things of note:

<UL>
<LI> The "global list" solution is far more punative at the 25-philosopher table than it
is at the 5-philosopher table.  That is because a single philosopher can affect a lot more
hungry philosophers at the 25-person table.
<LI> The hybrid solution is worse than the hold-and-wait solution at the 25-philosopher
table.  One can conclude from that that there are more times that the anti-starvation
policy comes into effect at the larger table.  We could, of course, measure that,
but not today...
</UL>

<hr>
So, what are the lessons?

<UL>
<LI> First, when multiple threads or processes access multiple resources
exclusively, you must worry about deadlock.
<p>
<LI> Second, you must worry about starvation, and the only way to prevent
starvation is to enforce that all threads/processes get unblocked
every now and then.  This can be using a global queue, as in solution
#4, or some other ordering strategy, as in solutions #5 and #6.
Sometimes you have to be less aggressive about preventing starvation
(as in solution #6) in order to get both good performance, and no
starvation.

<p>
<LI> Third, often you have to worry about treating all threads equally, so
that no one thread gets more resources than the others due to your
synchronization protocol.  This was the problem with the asymmetric
solution.
</UL>
