<title> "C Stuff 1:" Getting Started with C, Scalar Types and Aggregate Types</title>
<body bgcolor=FFFFFF>
<h2> "C Stuff 1:" Getting Started with C, Scalar Types and Aggregate Types</h2>

<UL>
<LI> <a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI> <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs360/>CS360</a>
<LI> Url: <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Cstuff-1/lecture.html><b>
                  http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Cstuff-1/lecture.html</b></a>
<LI> Programs are on the UT lab machines at <b>~jplank/cs360/notes/Cstuff-1</b>
<LI> And bitbucket: <a href=https://bitbucket.org/jimplank/cs360-lecture-notes>https://bitbucket.org/jimplank/cs360-lecture-notes</a>.
<LI> Originally written in 1995.
<LI> Last modification: <i>
Tue Jan 19 10:29:46 EST 2021
</i>
</UL>
<hr>
<font color=red>As a caveat, this lecture and the next used to be bundled into one.
I have unbundled them to reflect more closely what I'm doing in lecture.</font>

<hr>
<h2>Moving from C++ to C</h2>

This class is taught in C, rather than C++.  The reasoning is as follows:
Because C hides so much
less from you than C++, you have a much easier time figuring out what's 
going on when you run one or more programs.  This will be a little painful,
because you lose so many of the wonderful things about C++ on which you have
grown to rely, like <b>cin</b>, strings, objects with methods, and the standard
template library.  Sorry.  
<p>
These lecture notes detail the parts of C++ that you lose when you migrate
to C, and how you replace them.
<p>
You have to use <b>gcc</b> to compile programs in this class.  You <i>cannot</i>
use <b>g++</b>.  Don't give the TA's C++ code and say you didn't know.  You know.
<p>
Time to learn C.
<hr>
<h2>Header files</h2>
As with C++, you include standard header files with <b>#include</b>.  You include
the file name in less-than/greater-than signs, and you include the <b>.h</b> extension.
Instead of starting your programs with:
<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;iostream&gt;
using namespace std;
</pre></td></table></center><p>
you start them with:
<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
</pre></td></table></center><p>
I never liked that "using namespace std" stuff anyway.
<hr>
<h2>Comments</h2>

Comments in C are delimited by "/*" and "*/".  The former starts the comment, which 
can span multiple lines, and the latter ends the comment.   (C++ style commenting 
has been added to the C standard, so you can use it, but I don't -- you never know when
you're going to be running on that 1979 VM....)
<hr>

<h2>Bye-bye, cin and cout</h2>

Frankly, this isn't too painful, and will be less so when you learn the fields library.
I'm assuming that you already know <b>printf()</b> from previous classes.  
That handles output.  
For input, we'll focus on three procedures that are defined
in <b>stdio.h</b>: <b>scanf()</b>, <b>fscanf()</b> and <b>fgets()</b>.
However, we're going to focus on them in a later lecture.  For now, we'll be 
writing some non-interactive code.


<hr>
<h2>Types in C</h2>

In C, there are three kinds of types that variables can have -- scalars, 
      aggregates, and pointers.  Half of the game in getting things right
      in C is keeping yourself from being confused about types.  

<h2>Scalar Types</h2>

There are 7 scalar types in C:

<LI> <b>char</b>       -- 1 byte
<LI> <b>short</b>      -- 2 bytes
<LI> <b>int</b>        -- 4 bytes
<LI> <b>long</b>       -- 4 or 8 bytes, depending on the system and compiler
<LI> <b>float</b>      -- 4 bytes
<LI> <b>double</b>     -- 8 bytes
<LI> (pointer    -- 4 or 8 bytes, depending on the system and compiler)
<p>
These should all be familiar to you (ok, maybe not a <b>short</b>, but the rest should).  
If you want to verify or use the size of a type in C, you use the macro <b>sizeof()</b>.
For example, <b>sizeof(long)</b> will return either 4 or 8, depending on how big a <b>long</b>
is in your system.
<p>
You can declare a scalar variable in 
one of three places:  As a global variable, as a procedure parameter, and 
as a local variable.  For example, look at the program in 
<a href=src/p1.c><b>src/p1.c</b></a> (I've reproduced it below).
<p>
(This is not a bad time to clone the lecture note repo, so that you can
do all of these actions on your own.  If you've done so, go ahead and type <b>"make"</b>
to compile the lecture's programs:)

<pre>
UNIX> <font color=darkred><b>make</b></font>
gcc -o bin/id1 src/id1.c
gcc -o bin/id2 src/id2.c
c++ -o bin/id3 src/id3.cpp
gcc -o bin/id5 src/id5.c
gcc -o bin/id5a src/id5a.c
gcc -o bin/id5b src/id5b.c
c++ -o bin/id6 src/id6.cpp
gcc -o bin/p1 src/p1.c
gcc -o bin/p2a src/p2a.c
UNIX> <font color=darkred><b></b></font>
</pre>

Back to
<b><a href=src/p1.c>src/p1.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* A program to demonstrate three places that you
   can declare a scalar variable: as a global (i),
   as a local (j) or as a procedure parameter (argc). */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int i;

int main(int argc, char **argv)
{
  int j;

  <font color=blue>/* Copy argc to j to i and print i */</font>

  j = argc;
  i = j;  
  printf("Argc:          %d\n", i);

  <font color=blue>/* Print the size of a long. */</font>

  j = sizeof(long);
  printf("Sizeof(long):  %d\n", j);

  <font color=blue>/* Print the size of a pointer. */</font>

  j = sizeof(int *)</font>;
  printf("Sizeof(int *)</font>: %d\n", j);

  return 0;
}
</pre></td></table></center><p>

There are three scalar int variables here -- <b>i</b>, <b>j</b>, and 
<b>argc</b>.  <b>I</b> is a global 
variable.  <b>J</b> is a local variable, and <b>argc</b> 
is a parameter.  Scalars are 
pretty straightforward.   You can pass them as parameters to procedures, and 
return them from procedures without worrying about anything going awry.  

The program prints <b>argc</b> (which it has copied to the variables <b>j</b> and <b>i</b>), 
and then
the size of longs and pointers.  Here are two runs on my Mac (in 2021).  As 
you can see, longs and pointers are 8 bytes:

<pre>
UNIX> <font color=darkred><b>bin/p1</b></font>
Argc:          1
Sizeof(long):  8
Sizeof(int *): 8
UNIX> <font color=darkred><b>bin/p1 using many arguments</b></font>
Argc:          4
Sizeof(long):  8
Sizeof(int *): 8
UNIX> <font color=darkred><b></b></font>
</pre>

Some machines allow you to compile in 32-bit mode, which forces pointers and longs to 
be four bytes.  On my macintosh, that's the "-m32" option to <b>gcc</b>:

<pre>
UNIX> <font color=darkred><b>gcc -m32 -o bin/p1-32 src/p1.c</b></font>
UNIX> <font color=darkred><b>bin/p1-32</b></font>
Argc:          1
Sizeof(long):  4
Sizeof(int *): 4
UNIX> <font color=darkred><b></b></font>
</pre>

Some machines don't have 8-byte longs or pointers.  One example is the Raspberry Pi.
When I pulled the repo and compiled on my Pi, I got the following:

<pre>
pi@raspberrypi:~/CS360/cs360-lecture-notes/Cstuff-1$ <font color=darkred><b>bin/p1</b></font>
Argc:          1
Sizeof(long):  4
Sizeof(int *): 4
pi@raspberrypi:~/CS360/cs360-lecture-notes/Cstuff-1$ 
</pre>

The Pi's compiler doesn't have the "-m32" option.  Such is life.

<hr>
<h2>Aggregate Types</h2>

Arrays and structs are aggregate types in C.  They are more complex than 
scalars.  You can statically declare an array as a global or local variable --
I do both below in 
<b><a href=src/p2.c>src/p2.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

char s1[15];

int main(int argc, char **argv)
{
  char s2[4];

...
</pre></td></table></center><p>
<b>S1</b> is a global array of 15 chars and 
<b>s2</b> is a local array of 4 chars.  
<p>
If an array has been statically declared, then you cannot assign it to 
another array.  Let's look at all of 
<b><a href=src/p2.c>src/p2.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program statically declares to arrays of characters:
    - A global variable s1, with 15 characters.
    - A local variable s2, with 4 characters.
    - It then tries to set s2 to "Jim", which will fail, because
      you can't copy arrays in C like you can in C++. */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

char s1[15];

int main(int argc, char **argv)
{
  char s2[4];
  
  s2 = "Jim";         <font color=blue>// This line will not compile.</font>
  return 0;
}
</pre></td></table></center><p>

The statement ``<b>s2 = "Jim"</b>'' is illegal in C, because <b>s2</b> has 
been statically 
declared.  If you try to compile this program, <b>gcc</b> 
will give you an error:

<pre>
UNIX> <font color=darkred><b>gcc -o bin/p2 src/p2.c</b></font>
src/p2.c:16:6: error: array type 'char [4]' is not assignable
  s2 = "Jim";         // This line will not compile.
  ~~ ^
1 error generated.
UNIX> <font color=darkred><b></b></font>
</pre>

This is a good rule to bear in mind -- if <b>x</b> 
is an array, then you should <i>NEVER</i> say 
``<b>x = <i>something</i></b>''.  It
will usually give you an error.  However, if it doesn't (because they change
the compiler yet again), you are writing bad C code.
<p>
However, you can always say ``<b><i>something</i> = x</b>''.  We'll discuss later in the 
lecture.
<p>

When you pass arrays as parameters, the pointers are passed, and not the arrays.  
This is unlike a vector in C++, which copies the vectors.  Here's an example
(in <b><a href=src/p2a.c>src/p2a.c</a></b>):

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

<font color=blue>/* This sets all lower-case letters in a to upper case. */</font>

void change_case(char a[20])
{
  int i;

  for (i = 0; a[i] != '\0'; i++) {
    if (a[i] &gt;= 'a' && a[i] &lt;= 'z') a[i] += ('A' - 'a');
  }
}

<font color=blue>/* This initializes a 19-character string of lower-case letters, and then calls change_case(). */</font>

int main()
{
  int i;
  char s[20];
  
  <font color=blue>/* Set s to "abcdefghijklmnopqrs". */</font>

  for (i = 0; i &lt; 19; i++) s[i] = 'a' + i;
  s[19] = '\0';

  <font color=blue>/* Print, call change_case() and print again. */</font>

  printf("First, S is %s.\n", s);
  change_case(s);
  printf("Now, S is   %s.\n", s);

  return 0;
}
</pre></td></table></center><p>
You'll note that even though you declare <b>a</b> to be an array of 20 chars, it is simply
the pointer that gets passed to the procedure.  For that reason, <b>change_case()</b> operates
on the array, and not on a copy:

<pre>
UNIX> <font color=darkred><b>bin/p2a</b></font>
First, S is abcdefghijklmnopqrs.
Now, S is   ABCDEFGHIJKLMNOPQRS.
UNIX>
</pre>

In fact, you can't trust that the compiler cares about the fact you put the "20" inside
the declaration of <b>change_case</b>.  The following are in fact all equivalent:

<pre>
void change_case(char a[20])
void change_case(char a[19])
void change_case(char a[5000])
void change_case(char a[])
void change_case(char *a)
</pre>

<hr>
<h3>Structs</h3>

The second way to aggregate data is with a <b>struct</b>.  A <b>struct</b> looks a little
like a C++ class with some notable omissions:
<UL>
<LI> No "public/protected/private" mess.
<LI> No constructors/destructors.
<LI> No default "copy" methods or any of that mess.
<LI> No methods.
</UL>

Suppose we want to aggregate an int and a double.  We can do that as in 
<b><a href=src/id1.c>src/id1.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* A very simple program to show a struct 
   that aggregates an integer and a double. */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

struct intdouble {
  int i;
  double d;
};

int main()
{
  struct intdouble id1;

  id1.i = 5;
  id1.d = 3.14;

  printf("%d %.2lf\n", id1.i, id1.d);
  return 0;
}
</pre></td></table></center><p>

<pre>
UNIX> <font color=darkred><b>bin/id1</b></font>
5 3.14
UNIX> <font color=darkred><b></b></font>
</pre>

You can use a <b>typedef</b> to make it a little more readable (<b><a href=src/id2.c>src/id2.c</a></b>):

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program is identical to src/id1.c,
   except it uses a typedef so that you can
   assign a type to the struct. */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

typedef struct intdouble {
  int i;
  double d;
} ID;

int main()
{
  ID id1;

  id1.i = 5;
  id1.d = 3.14;

  printf("%d %.2lf\n", id1.i, id1.d);
  return 0;
}
</pre></td></table></center><p>

You may have some confusion with structs, because they exist in C++ with different
semantics.  Let's take a look at the following code in C++, which declares two
<b>intdouble</b>'s, sets one's variables, and then copies one to the other (<b><a href=src/id3.cpp>src/id3.cpp</a></b>):

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This is a C++ program, which shows how you can copy one struct to another.</font>

#include &lt;cstdio&gt;
#include &lt;iostream&gt;
using namespace std;

struct intdouble {
  int i;
  double d;
};

int main()
{
  intdouble id1, id2;

  id1.i = 5;          <font color=blue>/* Set id1 to 5 and 3.14 as before. */</font>
  id1.d = 3.14;

  id2 = id1;          <font color=blue>/* This makes a copy of id and then adds 5 to each field. */</font>
  id2.i += 5;
  id2.d += 5;

  printf("1: %d %.2lf\n", id1.i, id1.d);   <font color=blue>/* Print them out. */</font>
  printf("2: %d %.2lf\n", id2.i, id2.d);

  return 0;
}
</pre></td></table></center><p>
Straightforward when it runs:

<pre>
UNIX> <font color=darkred><b>bin/id3</b></font>
1: 5 3.14
2: 10 8.14
UNIX> <font color=darkred><b></b></font>
</pre>

Let's change this to C.  If we simply fix the headers
(<b><a href=src/id4.c>src/id4.c</a></b>), it will not compile.
That is because C++ creates "intdouble" as a type, and C does not.  
When we try to compile, it fails:

<pre>
UNIX> <font color=darkred><b>gcc -o bin/id4 src/id4.c</b></font>
src/id4.c:14:3: error: must use 'struct' tag to refer to type 'intdouble'
  intdouble id1, id2;       // This line won't compile.
  ^
  struct 
1 error generated.
UNIX> <font color=darkred><b></b></font>
</pre>

Now, if you put "struct" in front of "intdouble," that will fix the 
problem.  It is in
<b><a href=src/id5.c>src/id5.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Copying src/id3.cpp to src/id5.c, and fixing the use of intdouble
   so that it compiles.  It works as in C++, copying the struct, but you
   should be wary of it.  */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

struct intdouble {
  int i;
  double d;
};

int main()
{
  struct intdouble id1, id2;

  id1.i = 5;
  id1.d = 3.14;

  id2 = id1;  <font color=blue>/* THIS IS THE OFFENDING LINE */</font>
  id2.i += 5;
  id2.d += 5;

  printf("1: %d %.2lf\n", id1.i, id1.d);
  printf("2: %d %.2lf\n", id2.i, id2.d);
  return 0;
}
</pre></td></table></center><p>

This runs identically to the C++ version.  I can tell you that I disapprove of 
this code.  Why? Because the statement ``<b>id2 = id1</b>'' offends me.  It is the 
only part of C where you can copy an unspecified number of bytes with an assignment
statement.  It is a weakness of the language.  For example, take a look at
<b><a href=src/id5a.c>src/id5a.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* While C doesn't let you copy arrays, it lets you copy a struct that holds
   an array.  I don't think this really makes sense, but there is it.  In this
   code, we copy 4000 bytes in a single statement. */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

typedef struct {
  int a[1000];
} SID;

int main()
{
  SID s1, s2;
  int i;

  for (i = 0; i &lt; 1000; i++) s1.a[i] = i;       <font color=blue>/* Set s1. */</font>

  s2 = s1;       <font color=blue>/* This statement copies 4000 bytes. */</font>

  for (i = 0; i &lt; 1000; i++) printf("%4d %4d\n", s1.a[i], s2.a[i]);  <font color=blue>/* Print s1 and s2. */</font>
 
  return 0;
}
</pre></td></table></center><p>

The ``<b>s2 = s1</b>'' line copies 4000 bytes.  While I expect such garbage in C++,
I am surprised that it's legal in C.  Why does it allow you to copy the struct, but
not to copy the array?  Who knows -- anyway, I want you to be aware of it.
You will never see me use that feature of the language because I don't approve.

As a corollary, you can pass a struct as an argument to a procedure, and in C++
fashion, it makes a copy of the entire thing.  In 
<b><a href=src/id5b.c>src/id5b.c</a></b>, I define a procedure <b>a()</b>, which changes the
last element of the array, and when we run it, <b>s1.a[999]</b> is unchanged.  
Make a mental note of it.

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

typedef struct {
  int a[1000];
} SID;

void a(SID s)    <font color=blue>/* Although this procedure changes element 999 of s, */</font>
{                <font color=blue>/* s is a copy of the calling parameter, so it is    */</font>
  s.a[999] = -1; <font color=blue>/* deleted at the end of the procedure.              */</font>
}                <font color=blue>/* In other words, the procedure does nothing.       */</font>


int main()
{
  SID s1;
  int i;

  for (i = 0; i &lt; 1000; i++) s1.a[i] = i;    <font color=blue>/* Set the elements of s1. */</font>

  a(s1);                <font color=blue>/* This does nothing, because it modifies a copy of s1 */</font>

  printf("Element 999: %d\n", s1.a[999]);
 
  return 0;
}
</pre></td></table></center><p>

<pre>
UNIX> <font color=darkred><b>bin/id5b</b></font>
Element 999: 999
UNIX> <font color=darkred><b></b></font>
</pre>

<p>
A final note about C++ structs.  They are basically stripped down classes -- you 
can put methods in them, and then implement the methods using the struct's variables,
as in <b><a href=src/id6.cpp>src/id6.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td valign=top><pre>
<font color=blue>/* Unlike C structs, you can put methods in C++ structs. */</font>
#include &lt;cstdio&gt;
#include &lt;iostream&gt;
using namespace std;

struct intdouble {
  int i;
  double d;
  void Print();
};

void intdouble::Print()
{
  printf("   %d %.2lf\n", i, d);
}
</pre></td><td valign=top><pre>
int main()
{
  intdouble id1, id2;

  id1.i = 5;
  id1.d = 3.14;

  id2 = id1;
  id2.i += 5;
  id2.d += 5;

  id1.Print();
  id2.Print();
  return 0;
}
</pre></td></table></center><p>

Whoever designed structs in C++ did the world a disservice, because you have the same
constructs in two fairly similar languages that have completely different semantics.
Which means that tons of people are going to be confused going from C++ to C, or 
even C to C++ when their struct semantics are off.  It is for this reason that
I don't teach structs as a C++ construct in either CS202 or CS302.  Just use
a class.  
<p>
<i>(When your job interviewer asks you why you are using classes rather than 
structs in C++, you should respond as follows: "Structs in C++ are totally different
constructs than they are in C.  However, they have enough similarity that one can
easily get confused when writing code in both languages.  For that reason, I choose
to use structs in C, but not in C++.  In C++, I use a class.  The compiler should
be smart enough to make the class code as efficient as struct code.")</i>

