<h3>Assembly 3 Clicker Question</h3>

What does the following program print?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;

int a(int *p)
{
  return *p;
}

int main()
{
  int i, j;

  i = 3;
  j = 15;
  i = a(&j);
  printf("%d\n", i);
  return 1;
}
</pre></td></table></center><p>
