<pre>
UNIX> <font color=darkred><b>bin/dphil_1_right_left 5 500 500 20000000 1 u n</b></font>
 20.005 Total-Hungry 70.273
 20.005 Individual-Hungry  14.048  14.073  14.031  14.064  14.057
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> 
</pre>
