<pre>
UNIX> <font color=darkred><b>bin/dphil_2_even_odd 5 500 500 20000000 1 u n</b></font>
 20.005 Total-Hungry 32.079
 20.005 Individual-Hungry   4.896   6.257   6.259   7.154   7.513
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> 
</pre>
