<pre>
UNIX> <font color=darkred><b>bin/dphil_3_hold_and_wait 5 500 500 20000000 1 u n</b></font>
 20.004 Total-Hungry 29.211
 20.004 Individual-Hungry   5.814   5.862   5.842   5.855   5.837
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>
