<pre>
UNIX> <font color=darkred><b>bin/dphil_4_global_list 5 500 500 20000000 1 u n</b></font>
 20.000 Total-Hungry 44.459
 20.000 Individual-Hungry   8.882   8.914   8.884   8.891   8.889
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>
