<pre>
UNIX> <font color=darkred><b>bin/dphil_5_take_a_number 5 500 500 20000000 1 u n</b></font>
 20.000 Total-Hungry 41.099
 20.000 Individual-Hungry   8.232   8.191   8.211   8.222   8.243
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>


<font color=blue>But look at the difference when the table size is 25:</font>

<pre>
UNIX> <font color=darkred><b>bin/dphil_4_global_list 25 500 500 20000000 1 u n </b></font>
 19.999 Total-Hungry 361.248
 19.999 Individual-Hungry  14.408  14.460  14.440  ....
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b>bin/dphil_5_take_a_number 25 500 500 20000000 1 u n </b></font>
 20.001 Total-Hungry 207.315
 20.001 Individual-Hungry   8.308   8.287   8.326  ...
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>

