<pre>
UNIX> <font color=darkred><b>bin/dphil_6_hybrid 5 500 500 20000000 1 u n</b></font>
 19.999 Total-Hungry 29.107
 19.999 Individual-Hungry   5.802   5.785   5.834   5.822   5.864
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>

<font color=blue>You'll see that the performance is superior to the previous two with 25 philosophers too:</font>

<pre>
UNIX> <font color=darkred><b>bin/dphil_6_hybrid 25 500 500 20000000 1 u n</b></font>
 20.004 Total-Hungry 155.495
 20.004 Individual-Hungry   6.240   6.168   6.241   ...
<font color=darkred><b>&lt;CNTL-C&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>
