
<p><center><table border=3><td align=center valign=top><h3>5 Philosophers</h3><img src=../img/timing.jpg width=250></td>
<td align=center><h3>25 Philosophers</h3><img src=../img/timing-25.jpg width=250></td></table></center><p>

