
<p><center><table border=3>
<td align=center valign=top><img src=../img/starve-1.jpg width=200><br>
Starting State:<br>
Philosophers 0 and 2 eating.</td>
<td align=center valign=top><img src=../img/starve-2.jpg width=200><br>
Philosopher 2 stops eating.<br>
Philosopher 3 now eats.</td>
<td align=center valign=top><img src=../img/starve-3.jpg width=200><br>
Philosopher 0 stops eating.<br>
Philosopher 1 now eats.</td>
<td align=center valign=top><img src=../img/starve-2.jpg width=200><br>
Philosopher 1 stops eating.<br>
Philosopher 0 now eats.</td>
<td align=center valign=top><img src=../img/starve-1.jpg width=200><br>
Philosopher 3 stops eating.<br>
Philosopher 2 now eats.<br>
Repeat; repeat; repeat.</td>
</table></center><p>

