
<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 2</u></b><p><a href=../img/steps_1_S2.jpg><img src=../img/steps_1_S2.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 3:</u></b><p>
<UL>
<LI> Philosopher 4 stops eating.
<LI> Philosopher 1 becomes hungry, but has to block on the right stick.
<LI> Philosopher 7 becomes hungry, grabs the right stick but blocks on the left stick.
<LI> Philosopher 6 becomes hungry, grabs the right stick but blocks on the left stick.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 3</u></b><p><a href=../img/steps_1_S3.jpg><img src=../img/steps_1_S3.jpg width=300></a></td>
</table></center><p>

