<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 3</u></b><p><a href=../img/steps_2_S3.jpg><img src=../img/steps_2_S3.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 4:</u></b><p>
<UL>
<LI> Philosopher 3 becomes hungry, and blocks on the right stick.
<LI> Philosopher 7 becomes hungry, and blocks on the left stick.
<LI> Philosopher 1 becomes hungry, gets the left stick, but blocks on the right stick.
<LI> Philosopher 2 becomes hungry, and blocks on the right stick.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 4</u></b><p><a href=../img/steps_2_S4.jpg><img src=../img/steps_2_S4.jpg width=300></a></td>
</table></center><p>
