<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 6</u></b><p><a href=../img/steps_3_S6.jpg><img src=../img/steps_3_S6.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 7:</u></b><p>
<UL>
<LI> Philosopher 2 becomes hungry, gets both sticks and starts eating.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 7</u></b><p><a href=../img/steps_3_S7.jpg><img src=../img/steps_3_S7.jpg width=300></a></td>
</table></center><p>
