<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 35</u></b><p><a href=../img/steps_4_S35.jpg><img src=../img/steps_4_S35.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 36:</u></b><p>
<UL>
<LI> Philosopher 4 becomes hungry and blocks.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 36</u></b><p><a href=../img/steps_4_S36.jpg><img src=../img/steps_4_S36.jpg width=300></a></td>
</table></center><p>
