<p><center><table border=3>
<td align=center valign=top><b><u>After timestep 2</u></b><p><a href=../img/steps_5_S2.jpg><img src=../img/steps_5_S2.jpg width=300></a></td>
<td align=left valign=top><b><u>What happens in timestep 3:</u></b><p>
<UL>
<LI> Philosopher 1 becomes hungry and blocks.
<LI> Philosopher 6 becomes hungry, gets the sticks and eats.
</UL>
</td>
<td align=center valign=top><b><u>After timestep 3</u></b><p><a href=../img/steps_5_S3.jpg><img src=../img/steps_5_S3.jpg width=300></a></td>
</table></center><p>
